#qa {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-11);
  padding-bottom: var(--noora-spacing-10);
  width: 100%;

  @media (min-width: 768px) {
    padding-bottom: var(--noora-spacing-14);
  }

  & * {
    box-sizing: border-box;
  }

  & > [data-part="header"] {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: var(--noora-spacing-9);
    padding: var(--noora-spacing-12) var(--noora-spacing-14);

    & > [data-part="background"] {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      background: linear-gradient(180deg, oklch(97.2% 0.012 281.1) 0%, oklch(94.3% 0.032 299.7) 100%);
      width: 100%;
      height: 100%;
      pointer-events: none;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & > [data-part="logo"] {
      width: 200px;
      height: 200px;
    }

    & > [data-part="title"] {
      margin: var(--noora-spacing-0);
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-display-xlarge);
      text-align: center;
    }

    & > [data-part="description"] {
      margin: 0px;
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-large);
      text-align: center;
    }

    & > [data-part="form"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-8);

      & button {
        margin: auto;
        width: fit-content;
      }

      @media (min-width: 768px) {
        flex-direction: row;

        & input {
          display: flex;
          width: 300px;
        }
      }
    }
  }

  & > [data-part="main"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--noora-spacing-11);
    margin: auto;
    max-width: 1296px;

    & > [data-part="feature"] {
      display: flex;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      flex-direction: row;
      gap: var(--noora-spacing-10);
      padding: var(--noora-spacing-10);

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        &[data-reverse] {
          & > [data-part="text"] {
            grid-row: 1;
            grid-column: 2;
          }
        }
      }

      & > [data-part="text"] {
        display: flex;
        flex: 1;
        flex-direction: column;

        & > [data-part="title"] {
          margin: 0;
          color: var(--noora-surface-label-primary);
          font: var(--noora-font-weight-medium) var(--noora-font-display-small);
          text-shadow: 0 1px 1px oklch(0% 0 0 / 0.25);

          & a {
            color: var(--noora-surface-label-primary);
            text-decoration: none;
          }
        }

        & > [data-part="description"] {
          color: var(--noora-surface-label-secondary);
          font: var(--noora-font-weight-medium) var(--noora-font-heading-medium);
        }
      }

      & > [data-part="image"] {
        flex: 1;
        width: 100%;
        max-width: 638px;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & > [data-part="footer"] {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: var(--noora-spacing-7) var(--noora-spacing-6) var(--noora-spacing-0) var(--noora-spacing-6);
    box-shadow: var(--noora-border-light-default);
    border-radius: var(--noora-radius-xlarge);
    padding: var(--noora-spacing-12) var(--noora-spacing-10);
    max-width: 1296px;
    overflow: hidden;

    @media (min-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
      padding: var(--noora-spacing-15) var(--noora-spacing-10);
    }

    & > [data-part="background"] {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & > [data-part="title"] {
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-display-large);
      text-align: center;
    }

    & > [data-part="form"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-8);

      & button {
        margin: auto;
        width: fit-content;
      }

      @media (min-width: 768px) {
        flex-direction: row;

        & input {
          display: flex;
          width: 300px;
        }
      }
    }
  }

  & > [data-part="confirmation"] {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--noora-z-index-10);
    padding: var(--noora-spacing-12) var(--noora-spacing-14);
  }
}
