<div class="test-cases page">
  <.stack gap="xl">
    <.stack gap="xs">
      <h5><%= @test_case.name %></h5>
      <p class="text--small font--regular color--text-tertiary">
        <%= gettext("Project: %{project_name}",
          project_name: String.split(@test_case.project_identifier) |> hd()
        ) %>
      </p>
      <p class="text--small font--regular color--text-tertiary">
        <%= gettext("Module: %{module_name}", module_name: @test_case.module_name) %>
      </p>
    </.stack>
    <.table
      id="test_case_runs"
      rows={@test_case_runs}
      row_link={
        fn test_case_run ->
          "/#{@selected_owner}/#{@selected_project.name}/runs/#{test_case_run.command_event.id}"
        end
      }
      empty_state_title={gettext("No runs")}
    >
      <:col :let={test_case_run} label={gettext("Command")}>
        <%= test_case_run.command_event.command_arguments || test_case_run.command_event.name %>
      </:col>
      <:col :let={test_case_run} label={gettext("Status")}>
        <.stack direction="horizontal">
          <.test_case_run_status_badge test_case_run={test_case_run} />
          <%= if test_case_run.flaky do %>
            <.badge title={gettext("flaky")} kind={:warning} />
          <% end %>
        </.stack>
      </:col>
      <:col :let={test_case_run} label={gettext("Ran by")}>
        <.command_event_ran_by_badge command_event={test_case_run.command_event} />
      </:col>
      <:col :let={test_case_run} label={gettext("Module hash")}>
        <%= test_case_run.module_hash %>
      </:col>
      <:col :let={test_case_run} label={gettext("Ran at")}>
        <%= Timex.from_now(test_case_run.inserted_at) %>
      </:col>
      <:footer>
        <.pagination
          uri={@uri}
          has_previous_page={@test_case_runs_meta.has_previous_page?}
          has_next_page={@test_case_runs_meta.has_next_page?}
          start_cursor={@test_case_runs_meta.start_cursor}
          end_cursor={@test_case_runs_meta.end_cursor}
        />
      </:footer>
    </.table>
  </.stack>
</div>
