.tuist-admonition {
  margin: var(--noora-spacing-6) 0;
}

.tuist-admonition [data-part="description"] > * + * {
  margin-top: var(--noora-spacing-5);
}

.tuist-admonition [data-part="description"] > ul,
.tuist-admonition [data-part="description"] > ol {
  margin-top: 0;
  margin-bottom: 0;
}

.tuist-admonition [data-part="description"] :is(ul, ol) {
  padding-left: var(--noora-spacing-5);
}

.tuist-admonition [data-part="description"] > *:last-child {
  margin-bottom: 0;
}

.tuist-admonition [data-part="column"] {
  flex: 1;
  min-width: 0;
}

.tuist-admonition [data-part="description"] .code-window {
  width: 100%;
}
