#docs-nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 1px solid var(--noora-content-divider-line);
  background: var(--noora-surface-background-tertiary);
  padding: var(--noora-spacing-6) var(--noora-spacing-7);

  & > [data-part="header"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--noora-spacing-8);

    & > [data-part="logo-link"] {
      display: flex;

      & > [data-part="logo"] {
        width: 40px;
        height: 40px;
      }
    }
  }

  & > [data-part="cta"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--noora-spacing-6);

    & > [data-part="socials"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--noora-spacing-4);
    }
  }
}
