#docs-page-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--noora-spacing-15);

  & [data-part="markdown-link"] {
    display: flex;
    align-items: baseline;
    gap: var(--noora-spacing-1);
    padding-top: var(--noora-spacing-10);
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-body-medium);
  }

  & [data-part="edit-row"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--noora-spacing-12);
  }

  & [data-part="last-updated"] {
    color: var(--noora-surface-label-secondary);
    font: var(--noora-font-body-medium);
  }
}
