[data-part="toc"] {
  position: sticky;
  top: 0;
  justify-self: end;
  width: 200px;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: var(--noora-spacing-7);
  padding-bottom: var(--noora-spacing-7);

  & > [data-part="title"] {
    display: block;
    padding: var(--noora-spacing-2) 0;
    color: var(--noora-surface-label-secondary);
    font: var(--noora-font-weight-semibold) var(--noora-font-body-small);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  & > [data-part="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-left: 1.5px solid var(--noora-surface-border-primary);

    [data-part="item"] {
      padding-left: var(--noora-spacing-4);

      & a {
        display: block;
        padding: var(--noora-spacing-1) 0;
        color: var(--noora-surface-label-secondary);
        font: var(--noora-font-weight-regular) var(--noora-font-body-small);
        text-decoration: none;
        transition: color 0.15s;

        &:hover {
          color: var(--noora-surface-label-primary);
        }
      }

      & > [data-level="3"] {
        padding-left: var(--noora-spacing-7);
      }

      & > [data-level="4"] {
        padding-left: var(--noora-spacing-10);
      }
    }
  }
}
