@import './navigation_bar.css';

/* Pages */
@import './pages/flaky_tests.css';
@import './pages/get_started.css';
@import './pages/analytics.css';
@import './pages/run_detail.css';
@import './pages/runs.css';

 :root {  
  /* Colors */

  --white: #FFFFFF;
  --black: #000000;

  --gray-25: #FAFAFA;
  --gray-50: #F5F5F6;
  --gray-100: #F0F1F1;
  --gray-200: #ECECED;
  --gray-300: #CECFD2;
  --gray-400: #94969C;
  --gray-500: #85888E;
  --gray-600: #61646C;
  --gray-700: #333741;
  --gray-800: #1F242F;
  --gray-900: #161B26;
  --gray-950: #0C111D;

  --brand-25: #FCFAFF;
  --brand-50: #F9F5FF;
  --brand-100: #F4EBFF;
  --brand-200: #E9D7FE;
  --brand-300: #D6BBFB;
  --brand-400: #B692F6;
  --brand-500: #9E77ED;
  --brand-600: #7F56D9;
  --brand-700: #6941C6;
  --brand-800: #6941C6;
  --brand-900: #42307D;
  --brand-950: #2C1C5F;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-300);
  --text-secondary-hover: var(--gray-200);
  --text-tertiary: var(--gray-400);
  --text-success-primary: var(--success-400);
  --text-placeholder: var(--gray-500);
  --text-disabled: var(--gray-500);

  --text-brand-primary: var(--gray-50);
  --text-brand-secondary: var(--gray-300);
  --text-brand-tertiary: var(--gray-400);
  --text-brand-tertiary_alt: var(--gray-50);

  /* Foreground color */
  --fg-primary: var(--white);
  --fg-secondary: var(--gray-300);
  --fg-suceess-primary: var(--success-500);
  --fg-success-secondary: var(--success-400);
  --fg-error-primary: var(--error-600);
  --fg-error-secondary: var(--error-500);
  --fg-quaternary: var(--gray-400);
  --fg-disabled: var(--gray-500);
  --fg-disabled-subtle: var(--gray-600);

  /* Background color */

  --bg-primary: var(--gray-950);
  --bg-primary-hover: var(--gray-800);
  --bg-primary-alt: var(--gray-900);
  --bg-secondary: var(--gray-900);
  --bg-secondary-alt: var(--gray-950);
  --bg-secondary-hover: var(--gray-800);
  --bg-secondary-subtle: var(--gray-900);
  --bg-tertiary: var(--gray-800);
  --bg-quaternary: var(--gray-700);
  --bg-active: var(--gray-800);
  --bg-disabled: var(--gray-800);
  --bg-disabled-subtle: var(--gray-900);
  --bg-brand-primary: var(--brand-500);
  --bg-brand-secondary: var(--brand-600);
  --bg-brand-solid: var(--brand-600);

  /* Border color */

  --border-primary: var(--gray-700);
  --border-secondary: var(--gray-800);
  --border-tertiary: var(--gray-800);
  --border-brand: var(--brand-400);
  --border-error: var(--error-400);
  --border-disabled: var(--gray-700);
  --border-disabled-subtle: var(--gray-800);

  /* Button color */
  --button-primary-bg: var(--brand-600);
  --button-primary-bg-hover: var(--brand-700);
  --button-primary-border: var(--brand-600);
  --button-primary-fg: var(--white);
  --button-primary-fg-hover: var(--white);
  --button-primary-border-hover: var(--brand-700);
  --button-secondary-bg: var(--gray-900);
  --button-secondary-bg-hover: var(--gray-800);
  --button-secondary-fg: var(--gray-300);
  --button-secondary-fg-hover: var(--gray-100);
  --button-secondary-border: var(--gray-700);
  --button-secondary-border-hover: var(--gray-700);
  --button-tertiary-fg: var(--gray-400);
  --button-tertiary-fg-hover: var(--gray-100);
  --button-tertiary-bg-hover: var(--gray-800);

  /* Utility color */
  --utility-brand-50: var(--brand-950);
  --utility-brand-100: var(--brand-900);
  --utility-brand-200: var(--brand-800);
  --utility-brand-300: var(--brand-700);
  --utility-brand-400: var(--brand-600);
  --utility-brand-500: var(--brand-500);
  --utility-brand-600: var(--brand-400);
  --utility-brand-700: var(--brand-300);
  --utility-brand-800: var(--brand-200);
  --utility-brand-900: var(--brand-100);
  --utility-brand-950: var(--brand-50);

  --utility-error-50: var(--error-950);
  --utility-error-100: var(--error-900);
  --utility-error-200: var(--error-800);
  --utility-error-300: var(--error-700);
  --utility-error-400: var(--error-600);
  --utility-error-500: var(--error-500);
  --utility-error-600: var(--error-400);
  --utility-error-700: var(--error-300);

  --utility-warning-50: var(--warning-950);
  --utility-warning-100: var(--warning-900);
  --utility-warning-200: var(--warning-800);
  --utility-warning-300: var(--warning-700);
  --utility-warning-400: var(--warning-600);
  --utility-warning-500: var(--warning-500);
  --utility-warning-600: var(--warning-400);
  --utility-warning-700: var(--warning-300);

  --utility-success-50: var(--success-950);
  --utility-success-100: var(--success-900);
  --utility-success-200: var(--success-800);
  --utility-success-300: var(--success-700);
  --utility-success-400: var(--success-600);
  --utility-success-500: var(--success-500);
  --utility-success-600: var(--success-400);
  --utility-success-700: var(--success-300);

  --utility-gray-50: var(--gray-900);
  --utility-gray-100: var(--gray-800);
  --utility-gray-200: var(--gray-700);
  --utility-gray-300: var(--gray-700);
  --utility-gray-400: var(--gray-600);
  --utility-gray-500: var(--gray-500);
  --utility-gray-600: var(--gray-400);
  --utility-gray-700: var(--gray-300);
  --utility-gray-800: var(--gray-200);
  --utility-gray-900: var(--gray-100);

  /* Icon color */

  --icon-fg-brand: var(--gray-400);

  /* Spacing */

  --spacing-none: 0rem; /* 0px */
  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.375rem; /* 6px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.25rem; /* 20px */
  --spacing-3xl: 1.5rem; /* 24px */
  --spacing-4xl: 2rem; /* 32px */
  --spacing-5xl: 2.5rem; /* 40px */
  --spacing-6xl: 3rem; /* 48px */
  --spacing-7xl: 4rem; /* 64px */
  --spacing-8xl: 5rem; /* 80px */
  --spacing-9xl: 6rem; /* 96px */
  --spacing-10xl: 8rem; /* 128px */
  --spacing-11xl: 10rem; /* 160px */

  /* Radius */
  --radius-none: 0rem; /* 0px */
  --radius-xxs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1.25rem; /* 20px */
  --radius-4xl: 1.5rem; /* 24px */
  --radius-full: 9999px; /* 9999px */

  /* Line height */
  --line-height-text-extraLarge: 1.875rem;
  --line-height-text-large: 1.75rem;
  --line-height-text-medium: 1.5rem;
  --line-height-text-small: 1.25rem;
  --line-height-text-extraSmall: 1.125rem;

  /* Font size */
  --font-size-text-extraLarge: 1.25rem;
  --font-size-text-large: 1.125rem;
  --font-size-text-medium: 1rem;
  --font-size-text-small: 0.875rem;
  --font-size-text-extraSmall: 0.75rem;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
}

/* Color utility classes */

.color--text-primary {
  color: var(--text-primary);
}

.color--text-secondary {
  color: var(--text-secondary);
}

.color--text-tertiary {
  color: var(--text-tertiary);
}

.color--text-success-primary {
  color: var(--text-success-primary);
}

.color--text-brand-primary {
  color: var(--text-brand-primary);
}

.color--text-brand-secondary {
  color: var(--text-brand-secondary);
}

.color--text-brand-tertiary {
  color: var(--text-brand-tertiary);
}

.color--text-brand-tertiary_alt {
  color: var(--text-brand-tertiary_alt);
}

.color--text-error-primary {
  color: var(--error-400);
}

/* Fonts */

.font--regular {
  font-weight: var(--font-weight-regular);
}

.font--medium {
  font-weight: var(--font-weight-medium);
}

.font--semibold {
  font-weight: var(--font-weight-semibold);
}

.font--bold {
  font-weight: var(--font-weight-bold);
}

/* Display 2xl */

h1 {
  margin: 0;
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display xl */
h2 {
  margin: 0;
  font-size: 3.75rem;
  line-height: 4.5rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display lg */
h3 {
  margin: 0;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display md */
h4 {
  margin: 0;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display sm */
h5 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
}

/* Display xs */
h6 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
}

p {
  margin: 0;
  display: flex;
}

.text--extraLarge {
  font-size: var(--font-size-text-extraLarge);
  line-height: var(--line-height-text-extraLarge);
}

.text--large {
  font-size: var(--font-size-text-large);
  line-height: var(--line-height-text-large);
}

.text--medium {
  font-size: var(--font-size-text-medium);
  line-height: var(--line-height-text-medium);
}

.text--small {
  font-size: var(--font-size-text-small);
  line-height: var(--line-height-text-small);
}

.text--extraSmall {
  font-size: var(--font-size-text-extraSmall);
  line-height: var(--line-height-text-extraSmall);
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  display: flex;
  padding: 0;
  align-items: center;
  gap: var(--spacing-md);

  & svg {
    stroke: var(--text-secondary);
  }
}

p {
  color: var(--text-secondary);
}
/* Buttons */

button {
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding: var(--spacing-md) var(--spacing-lg);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--radius-sm);
  display: inline-flex;
  align-items: center;

  & span {
    width: 100%;
  }
}

button svg {
  transition-property: stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}


.button--medium {
  padding: var(--spacing-md) var(--spacing-lg);
  gap: var(--spacing-md);
}

.button--small {
  padding: var(--spacing-md) var(--spacing-lg);
  gap: var(--spacing-xs);
}

.button--primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-fg);

  &:hover {
    background-color: var(--button-primary-bg-hover);
    color: var(--button-primary-fg-hover);
  }
}

.button--secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
  justify-content: center;
  border: 1px solid var(--button-secondary-border);
  border-radius: var(--radius-md);

  &:hover:enabled {
    color: var(--button-secondary-fg-hover);
    background-color: var(--button-secondary-bg-hover);
    border-color: var(--button-secondary-border-hover);

    & svg {
      stroke: var(--button-secondary-fg-hover);
    }
  }

  &:disabled {
    color: var(--fg-disabled);
    background-color: var(--bg-primary);
    cursor: not-allowed;

    & svg {
      stroke: var(--fg-disabled);
    }
  }

  & svg {
    stroke: var(--button-secondary-fg);
    height: 20px;
    width: 20px;
  }
}

.button--tertiary svg {
  stroke: var(--button-tertiary-fg);
}

.button--tertiary:hover svg {
  stroke: var(--button-tertiary-fg-hover);
}

.button--small.button--icon-only {
  padding: var(--spacing-sm);
  background-color: transparent;
}

.button--tertiary.button--icon-only svg {
  width: 20px;
  height: 20px;
}

.button--tertiary:hover {
  background-color: var(--button-tertiary-bg-hover);
}

.social-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);

  &:hover {
    background-color: var(--bg-primary-hover);
  }

  &:focus {
    background-color: var(--bg-primary);
    /* TODO: Add focus ring (gray-400, opacity 14 %, spread 4 */
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  & span {
    color: var(--text-secondary);
  }
}

/* Icons */

svg {
  flex-shrink: 0;
}

.featured-icon {
  padding: var(--spacing-lg);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-xl);
  background-color: var(--bg-primary);
  display: flex;

  & svg {
    stroke: var(--fg-secondary);
  }
}

/* Stack */

.stack {
  display: flex;
  justify-content: flex-start;
}

.stack--horizontal {
  flex-direction: row;
  align-items: center;
}

.stack--vertical {
  flex-direction: column;
}

.stack--vertical--xxs > * + * {
  margin-top: var(--spacing-xxs);
}

.stack--vertical--xs > * + * {
  margin-top: var(--spacing-xs);
}

.stack--vertical--sm > * + * {
  margin-top: var(--spacing-sm);
}

.stack--vertical--md > * + * {
  margin-top: var(--spacing-md);
}

.stack--vertical--lg > * + * {
  margin-top: var(--spacing-lg);
}

.stack--vertical--xl > * + * {
  margin-top: var(--spacing-xl);
}

.stack--vertical--2xl > * + * {
  margin-top: var(--spacing-2xl);
}

.stack--vertical--3xl > * + * {
  margin-top: var(--spacing-3xl);
}

.stack--vertical--4xl > * + * {
  margin-top: var(--spacing-4xl);
}

.stack--vertical--5xl > * + * {
  margin-top: var(--spacing-5xl);
}

.stack--vertical--6xl > * + * {
  margin-top: var(--spacing-6xl);
}

.stack--vertical--7xl > * + * {
  margin-top: var(--spacing-7xl);
}

.stack--vertical--8xl > * + * {
  margin-top: var(--spacing-8xl);
}

.stack--vertical--9xl > * + * {
  margin-top: var(--spacing-9xl);
}

.stack--vertical--10xl > * + * {
  margin-top: var(--spacing-10xl);
}

.stack--vertical--11xl > * + * {
  margin-top: var(--spacing-11xl);
}

.stack--horizontal--xxs > * + * {
  margin-left: var(--spacing-xxs);
}

.stack--horizontal--xs > * + * {
  margin-left: var(--spacing-xs);
}

.stack--horizontal--sm > * + * {
  margin-left: var(--spacing-sm);
}

.stack--horizontal--md > * + * {
  margin-left: var(--spacing-md);
}

.stack--horizontal--lg > * + * {
  margin-left: var(--spacing-lg);
}

.stack--horizontal--xl > * + * {
  margin-left: var(--spacing-xl);
}

.stack--horizontal--2xl > * + * {
  margin-left: var(--spacing-2xl);
}

.stack--horizontal--3xl > * + * {
  margin-left: var(--spacing-3xl);
}

.stack--horizontal--4xl > * + * {
  margin-left: var(--spacing-4xl);
}

.stack--horizontal--5xl > * + * {
  margin-left: var(--spacing-5xl);
}

.stack--horizontal--6xl > * + * {
  margin-left: var(--spacing-6xl);
}

.stack--horizontal--7xl > * + * {
  margin-left: var(--spacing-7xl);
}

.stack--horizontal--8xl > * + * {
  margin-left: var(--spacing-8xl);
}

.stack--horizontal--9xl > * + * {
  margin-left: var(--spacing-9xl);
}

.stack--horizontal--10xl > * + * {
  margin-left: var(--spacing-10xl);
}

.stack--horizontal--11xl > * + * {
  margin-left: var(--spacing-11xl);
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-menu[hidden] {
  display: none;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 0;
  background-color: var(--bg-primary);

  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-md);
  overflow: hidden;

  & a {
    border-left: 1px solid var(--border-secondary);
    border-right: 1px solid var(--border-secondary);
    padding: var(--spacing-lg) var(--spacing-lg);
    background-color: transparent;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    cursor: pointer;
    border-width: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
  }
}

.dropdown-menu svg {
  stroke: var(--fg-quaternary);
}

/* Button group */

.button-group {
  display: flex;
  & button {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: 0;
    padding: var(--spacing-md) var(--spacing-xl);
    color: var(--text-secondary);
  }

  & button:hover {
    background-color: var(--bg-primary-hover);
    color: var(--text-secondary-hover);
  }

  & button:first-child {
    border-radius: var(--radius-md) 0 0 var(--radius-md);
  }

  & button:not(:last-child) {
    border-right: 0;
  }

  & button:last-child {
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
  }

  & .button-group__button--selected {
    background-color: var(--bg-active);
  }
}

/* Input */

input {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-md) var(--spacing-lg);
  caret-color: var(--text-primary);
  color: var(--text-primary);
}

input::placeholder {
  color: var(--text-placeholder);
}

input:focus {
  border-color: var(--border-brand);
}

input:focus {
  outline: 4px solid rgba(158, 119, 237, 0.2);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-full);
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 4px solid rgba(51, 55, 65, 0.2);
  }

  &:checked {
    background-color: var(--fg-primary);
    border: 5px solid var(--bg-brand-solid);
  }
}

.radio-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.radio-container__label {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-xs);
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 4px solid rgba(51, 55, 65, 0.2);
  }

  &:checked {
    background-color: var(--bg-brand-solid);
  }

  &:checked:after {
    position: relative;
    display: block;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    content: "";
    background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="1.6666" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
}

.input--error {
  border: 1px solid var(--border-error);
}

.checkbox-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.checkbox-container__label {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

/* Badge */

.badge {
  border-radius: var(--radius-full);
  padding: var(--spacing-xxs) var(--spacing-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  & svg {
    width: 16px;
    height: 16px;
  }
}

.badge-group {
  border-radius: var(--radius-full);
  padding: 0;
  margin: 0;

  & svg {
    stroke: var(--utility-error-500);
    width: 16px;
    height: 16px;
    padding-right: var(--spacing-md);
  }

  & span {
    width: auto;
  }
}

.badge--warning {
  background-color: var(--utility-warning-50);
  border: 1px solid var(--utility-warning-200);

  & svg {
    stroke: var(--utility-warning-500);
  }

  & .badge__text {
    color: var(--utility-warning-700);
  }
}

.badge--brand {
  background-color: var(--utility-brand-50);
  border: 1px solid var(--utility-brand-200);

  & svg {
    stroke: var(--utility-brand-500);
  }

  & .badge__text {
    color: var(--utility-brand-700);
  }
}

.badge--brand_subtle {
  background-color: var(--utility-brand-100);
  border: 1px solid var(--utility-brand-200);

  & .badge__text {
    color: var(--utility-brand-700);
  }
}

.badge--neutral {
  background-color: var(--utility-gray-50);
  border: 1px solid var(--utility-gray-200);

  & svg {
    stroke: var(--utility-gray-500);
  }

  & .badge__text {
    color: var(--utility-gray-700);
  }
}

.badge--success {
  background-color: var(--utility-success-50);
  border: 1px solid var(--utility-success-200);

  & svg {
    stroke: var(--utility-success-500);
  }

  & .badge__text {
    color: var(--utility-success-700);
  }
}

.badge--success {
  background-color: var(--utility-success-50);
  border: 1px solid var(--utility-success-200);

  & svg {
    stroke: var(--utility-success-500);
  }

  & .badge__text {
    color: var(--utility-success-700);
  }
}

.badge--error {
  background-color: var(--utility-error-50);
  border: 1px solid var(--utility-error-200);

  & svg {
    stroke: var(--utility-error-500);
  }

  &.badge-group:hover {
    background-color: var(--utility-error-100);
  }

  & .badge__type {
    color: var(--utility-error-700);
    border: 1px solid var(--utility-error-200);
  }

  & .badge__text {
    color: var(--utility-error-700);
  }
}

.badge--info {
  background-color: var(--bg-primary);
  border: 1px solid var(--utility-gray-200);

  & svg {
    stroke: var(--utility-gray-500);
  }

  &:hover {
    background-color: var(--utility-gray-100);
  }

  & .badge__type {
    color: var(--utility-gray-700);
    border: 1px solid var(--utility-gray-200);
  }

  & .badge__text {
    color: var(--utility-gray-700);
  }
}

.badge__type {
  background-color: var(--bg-primary);
  border-radius: var(--radius-full);
  padding: var(--spacing-xxs) var(--spacing-md);
  margin: var(--spacing-xs);
}

.badge__text {
  flex-grow: 1;
}

/* Flash group */

.flash-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Card */

.card {
  background-color: var(--bg-primary);
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-secondary);
  padding: var(--spacing-3xl);
}

/* Spacer */

.spacer {
  flex-grow: 1;
}

/* Table */

.table-container {
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-xl);
}

.table-container__footer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl);
  border-top: 1px solid var(--border-secondary);
  gap: var(--spacing-none);
}

.table-container__empty-state {
  padding: var(--spacing-5xl);
  align-items: center;

  & p {
    text-align: center;
  }
}

.table-container__empty-state__labels {
  align-items: center;
}

table {
  width: 100%;
  border-spacing: 0;
  
  & th {
    padding: var(--spacing-lg) var(--spacing-3xl);
    text-align: start;
    color: var(--text-tertiary);
    line-height: var(--line-height-text-small);
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-medium);
    background-color: var(--bg-secondary);
  }

  & td {
    border-top: 1px solid var(--border-secondary);
    color: var(--text-primary);
  }

  & tbody {
    & .clickable:hover {
      background-color: var(--bg-primary-hover);
    }
  }
}

.table-container__data-container {
  padding: var(--spacing-lg) var(--spacing-3xl);
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);

  & a:hover {
    background-color: unset;
  }

  & .pagination-link:first-child {
    & button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & .pagination-link:last-child {
    & button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/* Clickable */

.clickable {
  &:hover{
    cursor: pointer;
  }
}

/* Page */

.page {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  margin-left: 270px;
  margin-top: var(--spacing-4xl);
}
