.auth-page {
  flex-basis: 0;
  flex-grow: 999;
  display: flex;
  align-items: center;
}

.auth-page__background {
  position: absolute;
  top: 0;
  width: 60%;
  height: 40%;
  z-index: -1;
}

.auth-header__title {
  text-align: center;
}

.auth-header {
  align-items: center;
}

.auth-header__logo {
  width: 48px;
}

.auth-form {
  width: 360px;
}

.auth-form__primary-action {
  width: 100%;
}
