
.cm-s-swifty .cm-header {color: blue;}
.cm-s-swifty .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-swifty .cm-keyword {color: #708;}
.cm-s-swifty .cm-atom {color: #219;}
.cm-s-swifty .cm-number {color: #164;}
.cm-s-swifty .cm-def {color: #00f;}
.cm-s-swifty .cm-variable,
.cm-s-swifty .cm-punctuation,
.cm-s-swifty .cm-property,
.cm-s-swifty .cm-operator {}
.cm-s-swifty .cm-variable-2 {color: #05a;}
.cm-s-swifty .cm-variable-3, .cm-s-swifty .cm-type {color: #085;}
.cm-s-swifty .cm-comment {color: #a50;}
.cm-s-swifty .cm-string {color: #a11;}
.cm-s-swifty .cm-string-2 {color: #f50;}
.cm-s-swifty .cm-meta {color: #555;}
.cm-s-swifty .cm-qualifier {color: #555;}
.cm-s-swifty .cm-builtin {color: #30a;}
.cm-s-swifty .cm-bracket {color: #997;}
.cm-s-swifty .cm-tag {color: #170;}
.cm-s-swifty .cm-attribute {color: #00c;}
.cm-s-swifty .cm-hr {color: #999;}
.cm-s-swifty .cm-link {color: #00c;}

.cm-s-swifty .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

div.CodeMirror span.CodeMirror-matchingbracket {color: black !important;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}