
# EditorConfig is awesome: http://EditorConfig.org

# .editorconfig for Elixir projects
# https://git.io/elixir-editorconfig

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md, markdown, eex}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

#[*.bat]
#end_of_line = crlf
