[submodule "examples/xcode/generated_tuist_plugin"]
	path = examples/xcode/generated_tuist_plugin
	url = https://github.com/fortmarek/ExampleTuistPlugin/
[submodule "cli/TuistCacheEE"]
	path = cli/TuistCacheEE
	url = https://github.com/tuist/TuistCacheEE/
	update = "none"
