notifications:
  email: false
osx_image: xcode9.3
language: objective-c
gemfile: Gemfile
bundler_args: "--without documentation --path bundle" # Don't download documentation for gems.
cache:
  bundler: true
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
install:
- bundle install
script:
- travis_wait swift package generate-xcodeproj
- bundle exec rake test
- bundle exec rake release
- |
  if [[ $TRAVIS_BRANCH == 'master' ]]
  ./scripts/update-docs
  fi
