[tools]
    tuist = "4.64.2"
    swiftlint = "0.59.1"
    swiftformat = "0.57.2"
    pnpm = "10.14"
    node = "20.12.0"
    git-cliff = "2.6.0"
    sops = "3.9.3"
    age = "1.2.1"
    "ubi:aquasecurity/trivy" = "0.63.0"
    "clickhouse" = "25.5.1"
    "npm:prettier" = "3.4.2"
    "elixir" = "1.18.3"
    "flyctl" = "0.3.149"
    "erlang" = "27.3.2"
    "asdf:aeons/asdf-minio" = "latest"

[hooks]
    postinstall = "mise run install"

[env]
    _.file = ".env.json"
    TUIST_HOSTED = 1
    ERL_AFLAGS = "-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"

[settings]
    jobs = 6
    http_timeout = "60"
    experimental = true
    sops.age_key_file = "~/.config/mise/tuist-age.txt"
    sops.strict = false
