[tools]
    tuist = "4.65.2"
    swiftlint = "0.59.1"
    swiftformat = "0.57.2"
    git-cliff = "2.6.0"
    sops = "3.9.3"
    age = "1.2.1"

[env]
    _.file = { path = ".env.json", redact = true }

[settings]
    jobs = 6
    http_timeout = "60"
    experimental = true
    sops.age_key_file = "~/.config/mise/tuist-age.txt"
    sops.strict = false
