[tools]
tuist = "4.44.2"
swiftlint = "0.54.0"
swiftformat = "0.53.3"
pnpm = "10.5.2"
node = "20.12.0"
sourcedocs = "2.0.2"
git-cliff = "2.6.0"
"spm:apple/swift-openapi-generator" = "1.3.1"

[alias]
sourcedocs = "https://github.com/tuist/asdf-sourcedocs"

[settings]
jobs = 6
http_timeout = "60"
experimental = true
