[tools]
tuist = "4.50.0"
swiftlint = "0.54.0"
swiftformat = "0.53.3"
pnpm = "10.5.2"
node = "20.12.0"
git-cliff = "2.6.0"
"spm:tuist/sourcedocs" = "2.0.2"
"spm:apple/swift-openapi-generator" = "1.3.1"
sops = "3.9.3"
age = "1.2.1"

[hooks]
postinstall = "mise run install"

[env]
_.file = ".env.json"

[settings]
jobs = 6
http_timeout = "60"
experimental = true
sops.age_key_file = "~/.config/mise/tuist-age.txt"
