<main class="marketing__about" aria-label={gettext("About Tuist")}>
  <div class="marketing__about__intro">
    <div class="marketing__about__intro__left">
      <h2 class="marketing__about__intro__left__title font-xxxl-strong">
        {gettext("About us")}
      </h2>
      <p class="marketing__about__intro__subtitle font-l">
        {gettext(
          "We are a small group of indie crafters that are passionate about open source, Swift development, and developer tools. We built Tuist to support teams in their efforts to scale their development of apps. We are based in Germany and collaborating with open-source contributors from all over the world 🌍."
        )}
      </p>
    </div>

    <img
      class="marketing__about__intro__right"
      src="/marketing/images/about/selfie.jpeg"
      alt={gettext("A selfie of Marek and Pedro in Seoul, South Korea")}
    />
  </div>

  <div class="marketing__about__company">
    <h2 class="marketing__about__company__title font-xxxl-strong">
      {gettext("The company")}
    </h2>
    <p class="marketing__about__company__subtitle font-l-strong">
      {gettext(
        "We believe the best tools are shaped openly, and Tuist GmbH exists to fund and support this vision. Guided by the same principles, we're committed to creating a tool that stands out in the Apple developer space. Our approach to openness is one of curiosity, not caution—driving a shift in perspectives."
      )}
    </p>
    <p class="marketing__about__company__description font-m">
      {gettext(
        "Our goal is to enhance Apple’s native tooling, bringing innovative ideas from other ecosystems to help developers build exceptional apps for Apple platforms with ease and productivity. We openly share our journey, contribute foundational tools as open source, and cultivate vibrant communities where we all learn and grow together."
      )}
    </p>
    <p class="marketing__about__company__quote font-xl-strong">
      {gettext("\"We approach openness with curiosity, not fear.\"")}
    </p>
    <div class="marketing__about__company__photos">
      <img
        class="marketing__about__company__photos__photo"
        src="/marketing/images/about/photos/1.jpeg"
        alt="A photo of the team with attendees in the Kakao Bank offices in Seoul, South Korea"
      />
      <img
        class="marketing__about__company__photos__photo"
        src="/marketing/images/about/photos/2.jpeg"
        alt="A photo of Marek giving a talk at a local meetup at the Apple Academy in Seoul, South Korea"
      />
      <img
        class="marketing__about__company__photos__photo"
        src="/marketing/images/about/photos/3.jpeg"
        alt="A photo of Marek trying out the Vision Pros."
      />
      <img
        class="marketing__about__company__photos__photo"
        src="/marketing/images/about/photos/4.jpeg"
        alt="A photo of Pedro giving a talk at the Swift Heroes conference in 2024."
      />
    </div>
  </div>

  <div class="marketing__about__principles">
    <h2 class="marketing__about__principles__title font-xxxl-strong">
      {gettext("Our principles")}
    </h2>
    <div class="marketing__about__principles__items">
      <div class="marketing__about__principles__items__value">
        <div
          class="marketing__about__principles__items__value__icon"
          role="img"
          aria-label="Git merge icon"
        >
          <TuistWeb.Marketing.MarketingIcons.git_merge_icon size={40} />
        </div>
        <div class="marketing__about__principles__items__value__content">
          <h3 class="marketing__about__principles__items__value__content__title font-xl-strong">
            {gettext("Openness")}
          </h3>
          <p class="marketing__about__principles__items__value__content__description font-m">
            {gettext(
              "We believe openness builds better tools. We only keep the bare minimum closed to protect the sustained development of our open-source projects."
            )}
          </p>
        </div>
      </div>

      <div class="marketing__about__principles__items__value">
        <div
          class="marketing__about__principles__items__value__icon"
          role="img"
          aria-label={gettext("Smiling face icon")}
        >
          <TuistWeb.Marketing.MarketingIcons.face_smiles_icon size={40} />
        </div>
        <div class="marketing__about__principles__items__value__content">
          <h3 class="marketing__about__principles__items__value__content__title font-xl-strong">
            {gettext("Happiness")}
          </h3>
          <p class="marketing__about__principles__items__value__content__description font-m">
            {gettext(
              "We prioritize developer happiness because we know it's closely tied to creating better apps."
            )}
          </p>
        </div>
      </div>

      <div class="marketing__about__principles__items__value">
        <div
          class="marketing__about__principles__items__value__icon"
          role="img"
          aria-label={gettext("Cube outline icon")}
        >
          <TuistWeb.Marketing.MarketingIcons.cube_outline_icon size={40} />
        </div>
        <div class="marketing__about__principles__items__value__content">
          <h3 class="marketing__about__principles__items__value__content__title font-xl-strong">
            {gettext("Standards")}
          </h3>
          <p class="marketing__about__principles__items__value__content__description font-m">
            {gettext(
              "We embrace standards to ensure long-term success while respecting everyone's freedom to choose their own paths and tools."
            )}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing__about__leadership">
    <div class="marketing__about__leadership__left">
      <h2 class="marketing__about__leadership__left__title font-xxxl-strong">
        {gettext("Our leadership")}
      </h2>
      <p class="marketing__about__leadership__left__description font-m">
        {gettext(
          "We planted the first seeds of Tuist in 2017, and in 2023 we embarked on a journey to turn it into a full-time job."
        )}
      </p>
    </div>
    <div class="marketing__about__leadership__right">
      <div class="marketing__about__leadership__right__lead">
        <img
          class="marketing__about__leadership__right__lead__image"
          src="/marketing/images/about/pedro.jpeg"
          alt="Pedro Piñera"
        />
        <h3 class="marketing__about__leadership__right__lead__name font-l-strong">
          {gettext("Pedro Piñera")}
        </h3>
        <p class="marketing__about__leadership__right__lead__role font-m">
          {gettext("Founder & CEO")}
        </p>
        <div class="marketing__about__leadership__right__lead__socials">
          <.link
            href="https://mastodon.pepicrft.me/@pedro"
            target="_blank"
            aria-label="Pedro Piñera on Mastodon"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_mastodon class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://bsky.app/profile/pepicrft.bsky.social"
            target="_blank"
            aria-label="Pedro Piñera on Bluesky"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_bluesky class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://github.com/pepicrft"
            target="_blank"
            aria-label="Pedro Piñera on GitHub"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_github class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://www.linkedin.com/in/pedro-piñera-buendia-9765a9125/"
            target="_blank"
            aria-label="Pedro Piñera on LinkedIn"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_linkedin class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
        </div>
      </div>
      <div class="marketing__about__leadership__right__lead">
        <img
          class="marketing__about__leadership__right__lead__image"
          src="/marketing/images/about/marek.jpeg"
          alt="Marek Fořt"
        />
        <h3 class="marketing__about__leadership__right__lead__name font-l-strong">
          {gettext("Marek Fořt")}
        </h3>
        <p class="marketing__about__leadership__right__lead__role font-m">
          {gettext("Founder & CTO")}
        </p>
        <div class="marketing__about__leadership__right__lead__socials">
          <.link
            href="https://mastodon.online/@marekfort"
            target="_blank"
            aria-label="Marek Fořt on Mastodon"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_mastodon class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://bsky.app/profile/marekfort.bsky.social"
            target="_blank"
            aria-label="Marek Fořt on Bluesky"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_bluesky class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://github.com/fortmarek"
            target="_blank"
            aria-label="Marek Fořt on GitHub"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_github class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
          <.link
            href="https://www.linkedin.com/in/marek-f-71853b89/"
            target="_blank"
            aria-label="Marek Fořt on LinkedIn"
          >
            <TuistWeb.Marketing.MarketingIcons.icon_linkedin class="marketing__about__leadership__right__lead__socials_item" />
          </.link>
        </div>
      </div>
    </div>
  </div>

  <div class="marketing__about__resources">
    <h2 class="marketing__about__resources__title font-xxxl-strong">
      {gettext("Useful resources")}
    </h2>
    <div class="marketing__about__resources__items">
      <div class="marketing__about__resources__items__item">
        <h3 class="marketing__about__resources__items__item__title">
          {gettext("Tax certificates")}
        </h3>
        <p class="marketing__about__resources__items__item__description">
          {gettext("The following certificates are available for download:")}
        </p>
        <ul class="marketing__about__resources__items__item__list">
          <li class="marketing__about__resources__items__item__list__item">
            <TuistWeb.Marketing.MarketingIcons.file_download_02_icon class="marketing__about__resources__items__item__list__item__icon" />
            <.link
              class="marketing__about__resources__items__item__list__item__link"
              href="/marketing/pdfs/W-8BEN-E.pdf"
              target="_blank"
              aria-label={gettext("Download W-8BEN-E certificate")}
            >
              <span class="font-m-strong">{gettext("W-8BEN-E certificate")}</span><span> (PDF)</span>
            </.link>
          </li>
        </ul>
      </div>

      <div class="marketing__about__resources__items__item">
        <h3 class="marketing__about__resources__items__item__title">
          {gettext("Design systems")}
        </h3>
        <p class="marketing__about__resources__items__item__description">
          {gettext("The following design systems are available licensed under CC BY-SA 4.0:")}
        </p>
        <ul class="marketing__about__resources__items__item__list">
          <li class="marketing__about__resources__items__item__list__item">
            <TuistWeb.Marketing.MarketingIcons.file_download_02_icon class="marketing__about__resources__items__item__list__item__icon" />
            <.link
              class="marketing__about__resources__items__item__list__item__link"
              href="https://www.figma.com/community/file/1436003642379974190/tuist-website-design-system"
              target="_blank"
              aria-label="Download W-8BEN-E certificate"
            >
              <span class="font-m-strong">{gettext("Marketing website")}</span>
            </.link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <.cta />
</main>
