@use '../../../styles/common';

.Stack {
  margin-top: 100px;
  width: 70%;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: var(--p-space-28);

  @media #{common.$p-breakpoints-md-down} {
    flex-direction: column;
    align-items: stretch;
    gap: var(--p-space-20);
  }
}

.LoadingPageBox {
  background-color: var(--p-surface);
  padding-bottom: var(--p-space-20);
}
