.sidebar {
  flex-wrap: nowrap;
  padding: var(--spacing-3xl) var(--spacing-3xl);
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: var(--border-secondary);
  width: 195px;
  gap: var(--spacing-lg);
}

@media (max-width: 1024px) {
  .sidebar {
    padding: var(--spacing-md) var(--spacing-md);
    width: auto;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--border-secondary);
  }
}

.sidebar__sign-in-button {
  width: 100%;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.sidebar__dropdown {
  display: none;
}

@media (max-width: 1024px) {
  .sidebar__dropdown {
    display: block;
  }
}

.sidebar__navigation-list {
  margin: 0;
}

@media (max-width: 1024px) {
  .sidebar__navigation-list {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .sidebar__navigation-list__item {
    max-width: 100px;
    width: 100px;
  }
}

.sidebar__navigation-list__item a {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: transparent;
  transition-property: color, background-color;
  transition-timing-function: var(--timing-function-base);
  transition-duration: 0.15s;
  cursor: pointer;
  border-width: 0;
  border-radius: var(--radius-sm);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.sidebar__navigation-list__item[aria-selected="true"] a {
  background-color: var(--bg-active);
  color: var(--text-secondary-hover);
}

@media (max-width: 1024px) {
  .sidebar__navigation-list a {
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sidebar__navigation-list a svg {
  height: 24px;
  width: 24px;
  stroke: var(--gray-400);
}

.sidebar__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--spacing-3xl);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--border-secondary);
}

.sidebar__footer__user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

.sidebar__footer__user-info > * + * {
  margin-block-start: var(--spacing-none);
}

.sidebar__footer__user-info__signout-button {
  display: flex;
}

nav a:hover {
  color: var(--text-secondary-hover);
}

nav a:hover p {
  color: var(--text-secondary-hover);
}

nav a:hover svg {
  stroke: #ececed;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  flex-grow: 100;
}

footer .user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#projects-dropdown {
  margin-top: var(--spacing-xl);
}

#projects-dropdown-button {
  width: 100%;

  & > span {
    flex-grow: 1;
  }
}

.sidebar__dropdown__menu {
  width: 100%;
}

@media (max-width: 1024px) {
  .sidebar__dropdown__menu {
    bottom: 100%;
  }
}
