<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="csp-nonce" content={get_csp_nonce()} />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      {assigns[:head_title] || "Tuist"}
    </.live_title>
    <TuistWeb.LayoutComponents.head_meta_meta_tags {assigns} />
    <TuistWeb.LayoutComponents.head_x_meta_tags {assigns} />
    <!-- Assets -->
    <link phx-track-static rel="stylesheet" href={~p"/docs/assets/bundle.css"} />
    <script defer phx-track-static type="module" src={~p"/docs/assets/bundle.js"}>
    </script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Analytics -->
    <TuistWeb.LayoutComponents.head_analytics_scripts page_section="docs" {assigns} />
    <link rel="canonical" href={Tuist.Environment.app_url(path: @current_path)} />
  </head>
  <body data-scrollable="true">
    <nav id="docs-nav">
      <div data-part="header">
        <img data-part="logo" src={~p"/docs/images/logo.webp"} alt="Tuist" />
        <.button_group size="large" id="docs-nav-tabs">
          <.button_group_item
            label={dgettext("docs", "Guides")}
            navigate="/docs/en"
            data-tab="guides"
            data-selected={
              !String.starts_with?(@current_path, "/docs/en/references") &&
                !String.starts_with?(@current_path, "/docs/en/contributors")
            }
          />
          <.button_group_item
            label={dgettext("docs", "References")}
            navigate="/docs/en/references/tuist-toml"
            data-tab="references"
            data-selected={String.starts_with?(@current_path, "/docs/en/references")}
          />
          <.button_group_item
            label={dgettext("docs", "Resources")}
            navigate="/docs/en/contributors/code"
            data-tab="resources"
            data-selected={String.starts_with?(@current_path, "/docs/en/contributors")}
          />
        </.button_group>
      </div>
      <div data-part="cta">
        <.text_input
          id="text-input-types-search"
          name="search"
          type="search"
          placeholder="Search..."
        />

        <div data-part="socials">
          <.neutral_button size="large" href="https://github.com/tuist/tuist" target="_blank">
            <.brand_github />
          </.neutral_button>
          <.neutral_button size="large" href="https://fosstodon.org/@tuist" target="_blank">
            <.brand_mastodon />
          </.neutral_button>
          <.neutral_button size="large" href="https://slack.tuist.dev" target="_blank">
            <.brand_slack />
          </.neutral_button>
          <.neutral_button size="large" href="https://bsky.app/profile/tuist.dev" target="_blank">
            <.brand_bluesky />
          </.neutral_button>
        </div>
      </div>
    </nav>
    {@inner_content}
  </body>
</html>
