<% if resource.errors.any? %>
  <div class="w-full flex flex-col items-start text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 my-4 text-center bg-red-600" role="alert">
    <% resource.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
