.account__projects {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl);
}

.account__projects__title {
  color: var(--text-primary);
}

.account__projects__panel {
  background: var(--bg-primary-alt);
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-xl);
}

.account__projects__panel__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  & > * + * {
    border-top: 1px solid var(--border-secondary);
    border-image: linear-gradient(
        to right,
        transparent 20px,
        var(--border-secondary) 20px calc(100% - 20px),
        transparent calc(100% - 20px)
      )
      1;
    border-image-slice: 1;
  }
}

.account__projects__panel__list__item {
  padding: var(--spacing-2xl);
  display: block;
  position: relative;

  &:hover {
    background: var(--bg-secondary-hover);
  }

  &:first-child:hover {
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }

  &:last-child:hover {
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  }
}

.account__projects__get-started {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-4xl);
}

.account__projects__get-started__background {
  position: absolute;
  top: 0;
  width: 60%;
  height: 40%;
  z-index: -1;
}

.account__projects__get-started__header {
  align-items: center;
}

.account__projects__get-started__header__logo {
  width: 48px;
}

.account__projects__get-started__header__title {
  text-align: center;
}

.account__projects__get-started__header__text {
  text-align: center;
  display: unset;
}

.account__projects__code {
  color: var(--text-secondary);
  font-family: monospace;
  line-height: 1.5;
  font-size: large;
}

.account__projects__code__executable {
  color: var(--utility-brand-600);
}

.account__projects__get-started__more-card__icon > svg {
  width: 24px;
  height: 24px;
  stroke: var(--icon-fg-brand);
}

.account__projects__get-started__more-card__header {
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-2xl);
}

.account__projects__get-started__more-card__link {
  & svg {
    width: 20px;
    height: 20px;
  }
}

.account__projects__get-started__steps-card {
  align-self: center;
}

.account__projects__get-started__more-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--spacing-4xl);
}

@media (max-width: 1024px) {
  .account__projects__get-started__more-cards {
    flex-direction: column;
  }
}

.account__projects__get-started__more-cards > * {
  flex: 1 1 0;
}

.account__projects__get-started__user-info {
  width: 100%;
  position: absolute;
  right: var(--spacing-2xl);
  top: 0;
}
