.billing {
  max-width: 1300px;
}

.billing__pricing-tier-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4xl);
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-md);
}

.billing__pricing-tier-card__features-list {
  list-style-type: none;
  padding: 0;
}

.billing__pricing-tier-card__features-list__feature {
  align-items: center;
}

.billing__pricing-tier-card__per-month-label {
  flex-grow: 1;
  flex-shrink: 0;
  padding-right: var(--spacing-lg);
}

.billing__pricing-tier-card__price {
  width: 100%;

  & p {
    padding-bottom: var(--spacing-md);
  }
}

.billing__pricing-tier-card__action {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;

  & button {
    width: 100%;
  }
}

.billing__confirm-modal__button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.billing__overview {
  width: 100%;
}

.billing__overview > * {
  flex: 1;
}

.billing__overview__payment-card__billing-details {
  align-self: stretch;
}

.billing__overview__payment-card__billing-details__labels {
  flex-grow: 1;
}

.billing__overview__payment-card__billing-details__labels__mail-icon {
  width: 16px;
  height: 16px;
  stroke: var(--fg-quinary);
}

.billing__overview__plan-card__plan-summary__info {
  flex-grow: 1;
}

.billing__overview__plan-card__plan-summary__info__month-label {
  margin-bottom: var(--spacing-md);
}

.billing__overview__plan-card__usage__progress {
  width: 100%;
}
