.get-started__page {
  flex-basis: 0;
  flex-grow: 999;
  display: flex;
  align-items: center;
}

.get-started__page__background {
  position: absolute;
  top: 0;
  width: 60%;
  height: 40%;
  z-index: -1;
}

.get-started__page__header {
  align-items: center;
}

.get-started__page__header__logo {
  width: 48px;
}

.get-started__page__header__title {
  text-align: center;
}

.get-started__page__header__text {
  text-align: center;
  display: unset;
}

code {
  color: var(--text-secondary);
  font-family: monospace;
  line-height: 1.5;
  font-size: large;
}

.code-comment {
  color: var(--utility-success-700);
}

.code-executable {
  color: var(--utility-brand-600);
}

.get-started__page__more-card__icon > svg {
  width: 24px;
  height: 24px;
  stroke: var(--icon-fg-brand);
}

.get-started__page__more-card__header {
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-2xl);
}

.get-started__page__more-card__link {
  & svg {
    width: 20px;
    height: 20px;
  }
}

.get-started__page__more-cards {
  align-items: stretch;
}

.get-started__page__more-cards > * {
  flex: 1 1 0;
}

.get-started__page__user-info {
  width: 100%;
  position: absolute;
  right: var(--spacing-2xl);
  top: 0;
}
.get-started__page__user-info__titles {
  
}