#flaky-tests {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-6);
  padding: var(--noora-spacing-7) var(--noora-spacing-5);

  & [data-part="filters"] {
    display: flex;
    gap: var(--noora-spacing-6);
  }

  & [data-part="active-filters"] {
    display: flex;
    gap: var(--noora-spacing-4);
  }

  & [data-part="flaky-tests-section"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-8);

    & [data-part="active-filters"] {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: var(--noora-spacing-3);
    }

    & [data-part="flaky-tests-table"] .noora-table {
      & th:nth-child(1),
      & td:nth-child(1) {
        width: 50%;
      }

      & [data-part="last-flaky-run-link"] {
        padding: var(--noora-spacing-7);
      }
    }
  }

  & .noora-card {
    overflow-x: hidden;
  }

  & > [data-part="flaky-tests"] {
    & .noora-dropdown-item:not([data-selected]) svg {
      visibility: hidden;
    }
  }

  & [data-part="empty-flaky-tests-table-card-section"] {
    & > [data-part="title"] {
      padding-top: var(--noora-spacing-5);
    }
    & > [data-part="image"] {
      height: 150px;
    }
  }

  & .noora-pagination-group {
    margin-top: var(--noora-spacing-7);
  }
}
