#generate-runs {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-6);
  padding: var(--noora-spacing-7) var(--noora-spacing-5);
  & [data-part="filters"] {
    display: flex;
    gap: var(--noora-spacing-6);
  }

  & [data-part="active-filters"] {
    display: flex;
    gap: var(--noora-spacing-4);
  }

  & > [data-part="generate-runs"] {
    & > [data-part="generate-runs-table-section"] {
      gap: var(--noora-spacing-8);
      & > [data-part="filters"] {
        display: flex;
        flex-direction: row;
        gap: var(--noora-spacing-4);

        & .noora-dropdown-item:not([data-selected]) svg {
          visibility: hidden;
        }
      }

      & table {
        & td:first-child,
        & td:nth-child(4) {
          width: 20%;
        }

        & td:nth-child(5),
        & td:nth-child(6),
        & td:last-child {
          width: 12%;
        }
      }
    }
  }
  & [data-part="empty-generate-runs-table-card-section"] {
    & > [data-part="title"] {
      padding-top: var(--noora-spacing-5);
    }
    & > [data-part="image"] {
      height: 150px;
    }
  }
}
