[data-part="machine-metrics"] {
  & [data-part="charts-grid"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--noora-spacing-9) var(--noora-spacing-7);
    padding: var(--noora-spacing-8);
  }

  & #cpu-usage-chart,
  & #memory-usage-chart {
    height: 220px;
  }

  & #network-io-chart,
  & #disk-io-chart {
    height: 250px;
  }

  & [data-part="chart-title"] {
    font: var(--noora-font-weight-semibold) var(--noora-font-body-medium);
    color: var(--noora-surface-label-primary);
  }
}
