.tuist-machine-metrics {
  &[data-part="section"] {
    background: var(--noora-surface-background-tertiary);
    border-radius: var(--noora-spacing-5);
    padding: var(--noora-spacing-2);
    box-shadow: 0 0 0 1px rgba(46, 51, 56, 0.06);
  }

  & [data-part="section-header"] {
    display: flex;
    align-items: center;
    gap: var(--noora-spacing-3);
    padding: var(--noora-spacing-4) var(--noora-spacing-4) var(--noora-spacing-1);
  }

  & [data-part="section-icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--noora-spacing-3);
    background: var(--noora-surface-background-primary);
    border-radius: var(--noora-spacing-3);
    box-shadow:
      0px 1px 1px 0px rgba(14, 14, 14, 0.05),
      0px 0px 0px 1px rgba(46, 51, 56, 0.08),
      0px 1px 1px 0px rgba(46, 51, 56, 0.1);
  }

  & [data-part="section-title"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);
  }

  & [data-part="metrics-card"] {
    background: var(--noora-surface-background-primary);
    border-radius: var(--noora-spacing-4);
    padding: var(--noora-spacing-8);
    box-shadow:
      0px 1px 1px 0px rgba(14, 14, 14, 0.05),
      0px 0px 0px 1px rgba(46, 51, 56, 0.08),
      0px 1px 1px 0px rgba(46, 51, 56, 0.1);
  }

  & [data-part="charts-grid"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--noora-spacing-4);
  }

  & [data-part="chart-card"] {
    background: var(--noora-surface-background-primary);
    border-radius: var(--noora-spacing-4);
    padding: var(--noora-spacing-8);
    box-shadow:
      0px 1px 1px 0px rgba(14, 14, 14, 0.05),
      0px 0px 0px 1px rgba(46, 51, 56, 0.08),
      0px 1px 1px 0px rgba(46, 51, 56, 0.1);
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-7);
  }

  & #cpu-usage-chart,
  & #memory-usage-chart,
  & #network-io-chart,
  & #disk-io-chart {
    height: 148px;
  }

  & [data-part="chart-title"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);
  }
}
