#project-notifications {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-9);

  .noora-tab-menu-horizontal {
    padding: var(--noora-spacing-0);
  }

  & > [data-part="title"] {
    margin: 0;
    padding-top: var(--noora-spacing-7);
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-heading-xlarge);
  }

  & > [data-part="subtitle"] {
    margin: 0;
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-heading-large);
  }

  & > [data-part="reports-card-section"],
  & > [data-part="alert-rules-card-section"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-6);

    & > [data-part="header"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      & > [data-part="title-group"] {
        display: flex;
        flex-direction: column;
        gap: var(--noora-spacing-2);

        & > [data-part="title"] {
          color: var(--noora-surface-label-primary);
          font: var(--noora-font-weight-medium) var(--noora-font-heading-medium);
        }

        & > [data-part="subtitle"] {
          color: var(--noora-surface-label-secondary);
          font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
        }
      }
    }

    & > [data-part="content"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-5);
    }
  }

  & > [data-part="alert-rules-card-section"] {
    padding: var(--noora-spacing-8) var(--noora-spacing-7);

    & > [data-part="header"] {
      padding-bottom: var(--noora-spacing-6);
    }

    & > [data-part="content"] {
      gap: var(--noora-spacing-9);
    }

    & [data-part="alert-section"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-7);
    }
  }

  & [data-part="schedule-section"] {
    & > [data-part="content"] {
      & > [data-part="title"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-medium) var(--noora-font-body-large);
      }
    }
  }

  & [data-part="schedule-section"],
  & [data-part="slack-section"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--noora-surface-border-secondary);
    padding: var(--noora-spacing-4) 0;

    & > [data-part="content"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--noora-spacing-4);

      & > [data-part="toggle"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--noora-spacing-3);

        & > [data-part="label"] {
          color: var(--noora-surface-label-primary);
          font: var(--noora-font-weight-medium) var(--noora-font-body-large);
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    & > [data-part="row-content"],
    & [data-part="row-top"] > [data-part="row-content"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--noora-spacing-4);
    }
  }

  & [data-part="schedule-form"] {
    padding: var(--noora-spacing-9) var(--noora-spacing-0);
  }

  & [data-part="update-alert-modal"],
  & #create-alert-modal {
    & [data-part="alert-form"] {
      padding-bottom: var(--noora-spacing-9);
    }

    & [data-part="alert-description"] {
      padding: var(--noora-spacing-9) var(--noora-spacing-0);
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
    }

    & [data-part="slack-connect-alert"] {
      margin-bottom: var(--noora-spacing-7);
    }

    & [data-part="actions"] {
      flex-shrink: 0;
      align-self: center;
    }
  }

  & [data-part="schedule-form"],
  & [data-part="alert-form"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-7);

    & [data-part="schedule-row"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--noora-spacing-4);

      & [data-part="schedule-label"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-medium) var(--noora-font-body-medium);
      }

      & .noora-dropdown {
        width: 250px;

        & .noora-dropdown-content {
          width: 250px;
        }
      }

      & .noora-text-input {
        width: 250px;
      }

      &:has([data-part="channel-selection-column"]) {
        align-items: flex-start;
      }

      & [data-part="channel-selection-column"] {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--noora-spacing-6);
      }

      & #schedule-time-dropdown {
        width: 100px;

        & .noora-dropdown-content {
          width: 100px;
        }
      }
    }
  }

  & .noora-modal {
    & [data-part="content"] {
      max-width: 500px;
    }

    & [data-part="content"] > [data-part="body"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-8);
      min-width: 420px;
    }
  }

  & [data-part="subsection-header"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & [data-part="subsection-title"] {
      margin: 0;
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-heading-small);
    }
  }

  & [data-part="update-flaky-test-alert-modal"],
  & #create-flaky-test-alert-modal {
    & [data-part="alert-form"] {
      padding-bottom: var(--noora-spacing-9);
    }

    & [data-part="alert-description"] {
      padding: var(--noora-spacing-9) var(--noora-spacing-0);
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
    }

    & [data-part="slack-connect-alert"] {
      margin-bottom: var(--noora-spacing-7);
    }

    & [data-part="actions"] {
      flex-shrink: 0;
      align-self: center;
    }
  }

  & #alert-rules-table,
  & #flaky-test-alert-rules-table {
    margin-top: var(--noora-spacing-4);

    & [data-part="cell"][data-type="button"] {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: var(--noora-spacing-2);
    }

    & th:first-child {
      width: 20%;
    }

    & th:nth-child(2) {
      width: 20%;
    }
  }

  & #flaky-test-alert-rules-table {
    & th:first-child {
      width: 40%;
    }

    & th:nth-child(2) {
      width: 30%;
    }
  }
}
