#runner-workflows {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-6);
  padding: var(--noora-spacing-7) var(--noora-spacing-5);

  & [data-part="filters"] {
    display: flex;
    align-items: center;
    gap: var(--noora-spacing-6);

    & [data-part="search"] {
      width: 280px;
    }
  }

  & [data-part="active-filters"] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--noora-spacing-4);
  }

  & [data-part="page-filter-bar"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--noora-spacing-4);
  }

  & [data-part="pagination"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--noora-spacing-4);
    padding-top: var(--noora-spacing-7);
  }

  & [data-part="workflows-card-section"],
  & [data-part="runner-workflows-card-section"] {
    gap: var(--noora-spacing-8);
  }

  & [data-part="widgets"] {
    display: flex;
    flex-direction: row;
    gap: var(--noora-spacing-4);

    & > * {
      flex: 1;
    }

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  & [data-part="analytics-card-chart-section"] {
    & .noora-chart {
      height: 280px;
    }
  }
}
