#test-runs {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-6);
  padding: var(--noora-spacing-7) var(--noora-spacing-5);
  & [data-part="widgets"] {
    display: flex;
    flex-direction: row;
    gap: var(--noora-spacing-4);

    & > * {
      flex: 1;
    }

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  & [data-part="filters"] {
    display: flex;
    gap: var(--noora-spacing-6);
  }

  & [data-part="active-filters"] {
    display: flex;
    gap: var(--noora-spacing-4);
  }

  & [data-part="test-runs-section"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-8);

    & [data-part="active-filters"] {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: var(--noora-spacing-3);
    }
  }

  & .noora-card {
    overflow-x: hidden;
  }

  & .noora-chart {
    width: 105%;
    height: 200px;
  }

  & [data-part="analytics-chart"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-7);
    padding: var(--noora-spacing-5);
  }

  & > [data-part="analytics"] {
    & .noora-dropdown-item:not([data-selected]) svg {
      visibility: hidden;
    }
  }

  & [data-part="test-runs-chart"] {
    & > [data-part="label"] {
      padding-left: var(--noora-spacing-7);
      color: var(--noora-surface-label-secondary);
      font: var(--noora-font-weight-regular) var(--noora-font-code-small);
    }
  }

  & [data-part="empty-test-runs-table-card-section"] {
    & > [data-part="title"] {
      padding-top: var(--noora-spacing-5);
    }
    & > [data-part="image"] {
      height: 150px;
    }
  }

  & .tuist-pagination {
    margin-top: var(--noora-spacing-7);
  }
}
