version: 2
workflows:
  version: 2
  build:
    jobs:
      - build:
          context: tuist

jobs:
  build:
    macos:
      xcode: '10.1.0'
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            brew upgrade
            brew install swiftlint
            bundle install
      - run:
          name: Run Danger
          command: bundle exec danger
      - run:
          name: Generate Xcode project
          command: |
            swift package generate-xcodeproj
      - run:
          name: Build for release
          command: |
            swift build -c release
      - run:
          name: Run unit tests
          command: xcodebuild test -scheme tuist-Package -enableCodeCoverage YES
      - run:
          name: Run acceptance tests
          command: bundle exec rake features
      - run:
          name: Send test coverage report
          command: bash <(curl -s https://codecov.io/bash)
