!SX3832
#
vlan 1
 name "Default"
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
hostname "ber1-tor-a"
contact-info ""
serial_port baud_rate 38400
#
#
no system-time ntp
no system-time dst
#
sdm prefer omada
#
#
#
no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

no protocol-vlan template 1

#
no dot1x handshake
#
user name tuist privilege admin secret 5 <redacted, see 1Password>
telnet disable
no service reset-disable
#
#
#
#
#
#
#
#
#
ip ssh block-l3
#
#
spanning-tree
spanning-tree mode rstp
#
no snmp-server
#
ip http server
#
no voice vlan oui 00:01:E3
no voice vlan oui 00:03:6B
no voice vlan oui 00:12:43
no voice vlan oui 00:0F:E2
no voice vlan oui 00:60:B9
no voice vlan oui 00:D0:1E
no voice vlan oui 00:E0:75
no voice vlan oui 00:E0:BB
no voice vlan oui 00:04:0D
no voice vlan oui 00:1B:4F
no voice vlan oui 00:04:13
#
lldp
#
ipv6 routing
#
profile ip id 613802244 ip 0.0.0.0/0
profile ipv6 id 1 ipv6 ::/0
profile network id 2004123914 vid 1 ip 192.168.0.1/24

#
access-list mode blacklist
#
port-channel load-balance src-dst-ip
loopback-detection
#
#
#
#
#
no boot autoinstall auto-save
no boot autoinstall auto-reboot
#
auto-voip
#
#
#
#
no controller cloud-based
cloud-firmware upgrade auto-check
#
interface vlan 1
  ip address 192.168.0.11 255.255.255.0 gateway 192.168.0.10
  ipv6 enable
  ipv6 address auto-global
  ipv6 dnsDynamic
#
interface ten-gigabitEthernet 1/0/1
  description "Port1"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/2
  description "Port2"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/3
  description "Port3"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/4
  description "Port4"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/5
  description "Port5"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/6
  description "Port6"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/7
  description "Port7"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/8
  description "Port8"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/9
  description "Port9"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/10
  description "Port10"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/11
  description "Port11"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/12
  description "Port12"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/13
  description "Port13"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/14
  description "Port14"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/15
  description "Port15"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/16
  description "Port16"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/17
  description "Port17"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/18
  description "Port18"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/19
  description "Port19"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/20
  description "Port20"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/21
  description "Port21"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/22
  description "Port22"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/23
  description "Port23"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/24
  description "Port24"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/25
  description "Port25"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/26
  description "Port26"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/27
  description "Port27"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/28
  description "Port28"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/29
  description "Port29"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/30
  description "Port30"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/31
  description "Port31"
  spanning-tree

  lldp med-status
#
interface ten-gigabitEthernet 1/0/32
  description "Port32"
  spanning-tree

  lldp med-status
#
end
