.CommandEventDetailItemShowcase {
  flex: 2;
}

.Header {
  display: flex;
  padding-top: var(--p-space-8);
  padding-right: var(--p-space-10);
  padding-left: var(--p-space-8);
}

.RunsText {
  flex: 1;
}

.CommandEventDetailItemsList {
  padding: var(--p-space-8);
}
