<div class="marketing__component__cta">
  <h2 class="font-xxl-strong marketing__component__cta__title">
    {gettext("Supercharge your Swift app development")}
  </h2>
  <.primary_button href={~p"/users/log_in"} size="medium">
    {gettext("Get started")}
  </.primary_button>
</div>
