<div class="marketing__component__cta">
  <h2 class="font-xxl-strong marketing__component__cta__title">
    {gettext("Supercharge your app development")}
  </h2>
  <.primary_button href={Tuist.Environment.get_url(:get_started)} size="medium">
    {gettext("Get started")}
  </.primary_button>
</div>
