.Footer {
  padding-top: var(--p-space-12);
  padding-bottom: var(--p-space-12);
  padding-left: 25%;
  padding-right: 25%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: var(--p-space-16);
}

.LinksStack {
  display: flex;
  gap: var(--p-space-28);
}
