# Disable post install scripts to prevent execution of arbitrary code during package installation.
# This secures both local development and CI from common supply chain attacks.
# If you experience problems with legitimate lifecycle scripts rather than
# disable this please use https://www.npmjs.com/package/@lavamoat/allow-scripts
ignore-scripts=true
