.noora-badge,
.noora-status-badge {
  --noora-badge-fill-label: light-dark(var(--noora-neutral-light-50), var(--noora-neutral-light-100));
  --noora-badge-fill-neutral: light-dark(var(--noora-neutral-light-800), var(--noora-neutral-dark-600));
  --noora-badge-fill-destructive: light-dark(var(--noora-red-500), var(--noora-red-700));
  --noora-badge-fill-warning: light-dark(var(--noora-orange-500), var(--noora-orange-600));
  --noora-badge-fill-attention: light-dark(var(--noora-yellow-600), var(--noora-yellow-600));
  --noora-badge-fill-success: light-dark(var(--noora-green-500), var(--noora-green-600));
  --noora-badge-fill-information: light-dark(var(--noora-azure-500), var(--noora-azure-700));
  --noora-badge-fill-focus: light-dark(var(--noora-blue-500), var(--noora-blue-700));
  --noora-badge-fill-primary: light-dark(var(--noora-purple-500), var(--noora-purple-700));
  --noora-badge-fill-secondary: light-dark(var(--noora-pink-500), var(--noora-pink-700));

  --noora-badge-light-fill-neutral-background: light-dark(
    var(--noora-neutral-light-400),
    color-mix(in oklch, var(--noora-neutral-dark-900) 50%, transparent)
  );
  --noora-badge-light-fill-neutral-label: light-dark(var(--noora-neutral-light-1100), var(--noora-neutral-light-100));
  --noora-badge-light-fill-destructive-background: light-dark(
    var(--noora-red-50),
    color-mix(in oklch, var(--noora-red-500) 16%, transparent)
  );
  --noora-badge-light-fill-destructive-label: light-dark(var(--noora-red-600), var(--noora-red-500));
  --noora-badge-light-fill-warning-background: light-dark(
    var(--noora-orange-50),
    color-mix(in oklch, var(--noora-orange-500) 16%, transparent)
  );
  --noora-badge-light-fill-warning-label: light-dark(var(--noora-orange-600), var(--noora-orange-500));
  --noora-badge-light-fill-attention-background: light-dark(
    var(--noora-azure-50),
    color-mix(in oklch, var(--noora-azure-500) 16%, transparent)
  );
  --noora-badge-light-fill-attention-label: light-dark(var(--noora-azure-700), var(--noora-azure-500));
  --noora-badge-light-fill-success-background: light-dark(
    var(--noora-green-50),
    color-mix(in oklch, var(--noora-green-500) 16%, transparent)
  );
  --noora-badge-light-fill-success-label: light-dark(var(--noora-green-700), var(--noora-green-500));
  --noora-badge-light-fill-information-background: light-dark(
    var(--noora-azure-50),
    color-mix(in oklch, var(--noora-azure-500) 16%, transparent)
  );
  --noora-badge-light-fill-information-label: light-dark(var(--noora-azure-700), var(--noora-azure-400));
  --noora-badge-light-fill-focus-background: light-dark(
    var(--noora-blue-50),
    color-mix(in oklch, var(--noora-blue-700) 16%, transparent)
  );
  --noora-badge-light-fill-focus-label: light-dark(var(--noora-blue-700), var(--noora-blue-500));
  --noora-badge-light-fill-primary-background: light-dark(
    var(--noora-purple-50),
    color-mix(in oklch, var(--noora-purple-700) 16%, transparent)
  );
  --noora-badge-light-fill-primary-label: light-dark(var(--noora-purple-700), var(--noora-purple-400));
  --noora-badge-light-fill-secondary-background: light-dark(
    var(--noora-pink-50),
    color-mix(in oklch, var(--noora-pink-700) 16%, transparent)
  );
  --noora-badge-light-fill-secondary-label: light-dark(var(--noora-pink-600), var(--noora-pink-500));

  --noora-badge-disabled-background: light-dark(var(--noora-neutral-light-200), var(--noora-neutral-light-1000));
  --noora-badge-disabled-label: light-dark(var(--noora-neutral-light-600), var(--noora-neutral-light-300));

  --noora-badge-status-success: var(--noora-green-600);
  --noora-badge-status-warning: var(--noora-orange-600);
  --noora-badge-status-error: light-dark(var(--noora-red-500), var(--noora-red-600));
  --noora-badge-status-attention: light-dark(var(--noora-yellow-600), var(--noora-yellow-500));
}

.noora-badge {
  align-items: center;
  border-radius: var(--noora-radius-small);
  display: inline-flex;
  justify-content: center;
  padding: var(--noora-spacing-1) var(--noora-spacing-4);

  &[data-disabled] {
    background: var(--noora-badge-disabled-background) !important;
    color: var(--noora-badge-disabled-label) !important;
  }

  &[data-icon] {
    padding-left: var(--noora-spacing-2);
  }

  &[data-dot] {
    padding-left: var(--noora-spacing-0);
  }

  &[data-size="small"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-xsmall);

    &[data-icon] {
      gap: var(--noora-spacing-1);
    }

    & [data-part="icon"] {
      height: var(--noora-icon-size-small);
      width: var(--noora-icon-size-small);

      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  &[data-size="large"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);

    &[data-icon] {
      gap: var(--noora-spacing-2);
    }

    & [data-part="icon"] {
      height: var(--noora-icon-size-medium);
      width: var(--noora-icon-size-medium);

      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  &[data-style="fill"] {
    color: var(--noora-badge-fill-label);

    &[data-color="neutral"] {
      background: var(--noora-badge-fill-neutral);
    }

    &[data-color="destructive"] {
      background: var(--noora-badge-fill-destructive);
    }

    &[data-color="warning"] {
      background: var(--noora-badge-fill-warning);
    }

    &[data-color="attention"] {
      background: var(--noora-badge-fill-attention);
    }

    &[data-color="success"] {
      background: var(--noora-badge-fill-success);
    }

    &[data-color="information"] {
      background: var(--noora-badge-fill-information);
    }

    &[data-color="focus"] {
      background: var(--noora-badge-fill-focus);
    }

    &[data-color="primary"] {
      background: var(--noora-badge-fill-primary);
    }

    &[data-color="secondary"] {
      background: var(--noora-badge-fill-secondary);
    }
  }

  &[data-style="light-fill"] {
    &[data-color="neutral"] {
      background: var(--noora-badge-light-fill-neutral-background);
      color: var(--noora-badge-light-fill-neutral-label);
    }

    &[data-color="destructive"] {
      background: var(--noora-badge-light-fill-destructive-background);
      color: var(--noora-badge-light-fill-destructive-label);
    }

    &[data-color="warning"] {
      background: var(--noora-badge-light-fill-warning-background);
      color: var(--noora-badge-light-fill-warning-label);
    }

    &[data-color="attention"] {
      background: var(--noora-badge-light-fill-attention-background);
      color: var(--noora-badge-light-fill-attention-label);
    }

    &[data-color="success"] {
      background: var(--noora-badge-light-fill-success-background);
      color: var(--noora-badge-light-fill-success-label);
    }

    &[data-color="information"] {
      background: var(--noora-badge-light-fill-information-background);
      color: var(--noora-badge-light-fill-information-label);
    }

    &[data-color="focus"] {
      background: var(--noora-badge-light-fill-focus-background);
      color: var(--noora-badge-light-fill-focus-label);
    }

    &[data-color="primary"] {
      background: var(--noora-badge-light-fill-primary-background);
      color: var(--noora-badge-light-fill-primary-label);
    }

    &[data-color="secondary"] {
      background: var(--noora-badge-light-fill-secondary-background);
      color: var(--noora-badge-light-fill-secondary-label);
    }
  }
}

.noora-status-badge {
  align-items: center;
  background: var(--noora-surface-background-primary);
  border-radius: var(--noora-radius-medium);
  box-shadow: var(--noora-border-light-default);
  display: inline-flex;
  gap: var(--noora-spacing-2);
  justify-content: center;
  padding: var(--noora-spacing-2) var(--noora-spacing-4) var(--noora-spacing-2) var(--noora-spacing-2);

  & [data-part="icon"] {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    & svg {
      height: var(--noora-icon-size-medium);
      width: var(--noora-icon-size-medium);
    }
  }

  & [data-part="label"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);
  }

  &:not([data-status="disabled"]) {
    color: var(--noora-surface-label-primary);
  }

  &[data-status="disabled"] {
    color: var(--noora-surface-label-disabled);
  }

  &[data-status="success"] [data-part="icon"] {
    color: var(--noora-badge-status-success);
  }
  &[data-status="error"] [data-part="icon"] {
    color: var(--noora-badge-status-error);
  }
  &[data-status="warning"] [data-part="icon"] {
    color: var(--noora-badge-status-warning);
  }
  &[data-status="attention"] [data-part="icon"] {
    color: var(--noora-badge-status-attention);
  }
}
