.noora-button,
.noora-link-button {
  -webkit-appearance: button;
  align-items: center;
  border-radius: var(--noora-radius-medium);
  border: 0;
  display: inline-flex;
  gap: var(--noora-spacing-1);
}

.noora-button {
  cursor: pointer;
  outline: unset;

  & [data-part="spacer"] {
    flex-grow: 1;
  }

  & > span {
    padding: 0rem var(--noora-spacing-2);
  }

  &[data-variant="primary"] {
    background: var(--noora-button-background-primary);
    box-shadow: var(--noora-button-border-primary);
    color: var(--noora-button-primary-label);

    &:hover {
      background: var(--noora-button-background-primary-hover);
      box-shadow: var(--noora-button-border-primary-hover);
    }

    &:disabled {
      background: var(--noora-button-background-primary-disabled);
      box-shadow: var(--noora-button-border-primary-disabled);
      color: var(--noora-button-primary-disabled-label);
    }

    &:not(:disabled):active {
      background: var(--noora-button-background-primary-active);
      box-shadow: var(--noora-button-border-primary-active);
    }
  }

  &[data-variant="secondary"] {
    background: var(--noora-button-background-secondary);
    box-shadow: var(--noora-button-border-secondary);
    color: var(--noora-button-secondary-label);

    &:hover {
      background: var(--noora-button-background-secondary-hover);
    }

    &:disabled {
      background: var(--noora-button-background-secondary-disabled);
      box-shadow: var(--noora-button-border-secondary-disabled);
      color: var(--noora-button-secondary-disabled-label);
    }

    &:not(:disabled):active {
      background: var(--noora-button-background-secondary-active);
      box-shadow: var(--noora-button-border-secondary-active);
    }
  }

  &[data-variant="destructive"] {
    background: var(--noora-button-background-destructive);
    box-shadow: var(--noora-button-border-destructive);

    color: var(--noora-button-destructive-label);

    &:hover {
      background: var(--noora-button-background-destructive-hover);
      box-shadow: var(--noora-button-border-destructive-hover);
    }

    &:disabled {
      background: var(--noora-button-background-destructive-disabled);
      box-shadow: var(--noora-button-border-destructive-disabled);
      color: var(--noora-button-destructive-disabled-label);
    }

    &:not(:disabled):active {
      box-shadow: var(--noora-button-border-destructive-active);
      background: var(--noora-button-destructive-background);
    }
  }

  &[data-icon-only] {
    padding: var(--noora-spacing-3);
  }

  &[data-size="small"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-xsmall);

    &:not([data-icon-only]) {
      padding: var(--noora-spacing-2) var(--noora-spacing-3);
    }

    & svg {
      height: var(--noora-icon-size-small);
      width: var(--noora-icon-size-small);
    }
  }

  &[data-size="medium"],
  &[data-size="large"] {
    &:not([data-icon-only]) {
      padding: var(--noora-spacing-3) var(--noora-spacing-4);
    }
  }

  &[data-size="medium"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-small);

    & svg {
      height: var(--noora-icon-size-medium);
      width: var(--noora-icon-size-medium);
    }
  }

  &[data-size="large"] {
    font: var(--noora-font-weight-medium) var(--noora-font-body-medium);

    & svg {
      height: var(--noora-icon-size-large);
      width: var(--noora-icon-size-large);
    }
  }
}

.noora-link-button {
  --noora-link-button-primary-label: light-dark(var(--noora-purple-500), var(--noora-purple-300));
  --noora-link-button-secondary-label: light-dark(var(--noora-neutral-light-1200), var(--noora-neutral-light-50));
  --noora-link-button-destructive-label: light-dark(var(--noora-red-500), var(--noora-red-300));
  --noora-link-button-disabled-label: light-dark(var(--noora-neutral-light-600), var(--noora-neutral-light-300));

  background: transparent;

  &:disabled {
    color: var(--noora-link-button-disabled-label) !important;
    cursor: not-allowed;
  }

  &:not(:disabled)[data-underline] {
    text-decoration: underline;

    &:hover {
      text-decoration-style: dotted;
    }
  }

  &:not(:disabled):not([data-underline]):hover {
    text-decoration: underline;
  }

  &[data-variant="primary"] {
    color: var(--noora-link-button-primary-label);
  }

  &[data-variant="secondary"] {
    color: var(--noora-link-button-secondary-label);
  }

  &[data-variant="destructive"] {
    color: var(--noora-link-button-destructive-label);
  }

  &[data-size="small"] {
    font: var(--noora-font-body-xsmall);

    & svg {
      width: var(--noora-icon-size-small);
      height: var(--noora-icon-size-small);
    }
  }

  &[data-size="medium"] {
    font: var(--noora-font-body-small);

    & svg {
      width: var(--noora-icon-size-medium);
      height: var(--noora-icon-size-medium);
    }
  }

  &[data-size="large"] {
    font: var(--noora-font-body-medium);

    & svg {
      width: var(--noora-icon-size-large);
      height: var(--noora-icon-size-large);
    }
  }
}
