.noora-dropdown {
  --noora-dropdown-default-background: light-dark(var(--noora-neutral-light-50), var(--noora-neutral-dark-1100));
  --noora-dropdown-disabled-background: light-dark(var(--noora-neutral-light-100), var(--noora-neutral-dark-1000));
  --noora-dropdown-disabled-label: light-dark(var(--noora-neutral-light-600), var(--noora-neutral-dark-600));
  --noora-dropdown-disabled-secondary-text: light-dark(var(--noora-neutral-light-500), var(--noora-neutral-dark-500));

  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-2);
  z-index: 100;

  & [data-part="trigger"] {
    --background-base: var(--noora-dropdown-default-background);
    --background-gradient-start: light-dark(oklch(78.6% 0.013 248 / 0), oklch(100% 0 0 / 0.08));
    --background-gradient-end: light-dark(oklch(78.6% 0.013 248 / 0.13), oklch(100% 0 0 / 0));
    --border: 0px 1px 1px 0px oklch(20.9% 0.009 264.4 / 0.05), 0px 0px 0px 1px oklch(31.8% 0.011 248.2 / 0.08),
      0px 1px 1px 0px oklch(31.8% 0.011 248.2 / 0.1);

    html[data-theme="dark"] {
      --border: 0px 1px 1px 0px oklch(20.9% 0.009 264.4 / 0.3), 0px 0px 0px 1px oklch(53.1% 0.01 264.5 / 0.45),
        0px 2px 3px 0px oklch(0% 0 0 / 0.3);
    }

    align-items: center;
    background: linear-gradient(180deg, var(--background-gradient-start) 0%, var(--background-gradient-end) 100%),
      var(--background-base);
    border-radius: var(--noora-radius-medium);
    border: 0;
    box-shadow: var(--border);
    color: var(--noora-surface-label-primary);
    display: flex;
    font: var(--noora-font-body-medium);
    gap: var(--noora-spacing-4);
    padding: var(--noora-spacing-3) var(--noora-spacing-4);

    & [data-part="icon"] {
      color: var(--noora-surface-label-secondary);
      height: var(--noora-icon-size-large);
      width: var(--noora-icon-size-large);

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    & [data-part="label-wrapper"] {
      display: flex;
      gap: var(--noora-spacing-3);
    }

    & [data-part="secondary-text"] {
      color: var(--noora-surface-label-secondary);
    }

    & [data-part="label"] {
      font-weight: var(--noora-font-weight-medium);
    }

    &:active {
      --background-gradient-start: light-dark(oklch(78.6% 0.013 248 / 0), oklch(100% 0 0 / 0.04));
      --background-gradient-end: light-dark(oklch(78.6% 0.013 248 / 0.26), oklch(100% 0 0 / 0));
      --border: 0px 1px 1px 0px oklch(20.9% 0.009 264.4 / 0.05), 0px 0px 0px 1px oklch(31.8% 0.011 248.2 / 0.08),
        0px 1px 3px 0px oklch(31.8% 0.011 248.2 / 0.1), 0px 0px 0px 3px oklch(31.8% 0.011 248.2 / 0.12);

      html[data-theme="dark"] {
        --border: 0px 1px 1px 0px oklch(20.9% 0.009 264.4 / 0.2), 0px 0px 0px 1px oklch(53.1% 0.01 264.5 / 0.3),
          0px 2px 3px 0px oklch(0% 0 0 / 0.3), 0px 0px 0px 3px oklch(53.1% 0.01 264.5 / 0.4);
      }
    }

    &:disabled {
      --background-base: var(--noora-dropdown-disabled-background);
      --background-gradient-start: light-dark(oklch(78.6% 0.013 248 / 0), oklch(100% 0 0 / 0.08));
      --background-gradient-end: light-dark(oklch(78.6% 0.013 248 / 0.13), oklch(100% 0 0 / 0));

      & [data-part="icon"] {
        color: var(--noora-dropdown-disabled-secondary-text);
      }

      & [data-part="label"] {
        color: var(--noora-dropdown-disabled-label);
      }

      & [data-part="secondary-text"] {
        color: var(--noora-dropdown-disabled-secondary-text);
      }

      & [data-part="indicator"] {
        color: var(--noora-dropdown-disabled-label);
      }
    }

    &:hover {
      --background-gradient-start: light-dark(oklch(78.6% 0.013 248 / 0), oklch(100% 0 0 / 0.04));
      --background-gradient-end: light-dark(oklch(78.6% 0.013 248 / 0.26), oklch(100% 0 0 / 0));
    }
  }

  & [data-part="indicator"] {
    display: inline-flex;
    color: var(--noora-surface-label-secondary);

    & > div {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      height: var(--noora-icon-size-large);
      width: var(--noora-icon-size-large);

      & svg {
        height: 100%;
        width: 100%;
      }
    }

    &[data-state="closed"] [data-part="indicator-up"] {
      display: none;
    }

    &[data-state="open"] [data-part="indicator-down"] {
      display: none;
    }
  }
}
.noora-dropdown-content {
  --border: 0px 0px 0px 1px oklch(31.8% 0.011 248.2 / 0.08) inset,
    0px -1px 0px 0px oklch(31.8% 0.011 248.2 / 0.16) inset, 0px 8px 6px 0px oklch(31.8% 0.011 248.2 / 0.02),
    0px 2px 4px 0px oklch(31.8% 0.011 248.2 / 0.04);

  align-items: flex-start;
  align-self: stretch;
  background: var(--noora-surface-background-primary);
  border-radius: var(--noora-radius-large);
  box-shadow: var(--border);
  flex-direction: column;
  gap: var(--noora-spacing-2);
  justify-content: center;
  outline: none;
  padding: var(--noora-spacing-2);
  /* Default state is hidden to prevent layout shifts */
  display: none;

  &[data-state="open"] {
    display: flex;
  }
}

& [data-part="hint"] {
  align-items: center;
  color: var(--noora-surface-label-secondary);
  display: flex;
  gap: var(--noora-spacing-2);
  font: var(--noora-font-body-small);

  & svg {
    height: var(--noora-icon-size-medium);
    width: var(--noora-icon-size-medium);
  }
}

.noora-dropdown-item {
  --noora-dropdown-hover-background: light-dark(var(--noora-neutral-light-200), var(--noora-neutral-dark-1000));

  align-items: center;
  align-self: stretch;
  border-radius: var(--noora-radius-medium);
  color: var(--noora-surface-label-primary);
  display: flex;
  font: var(--noora-font-body-medium);
  text-decoration: none;

  & [data-part="body"] {
    flex-grow: 1;
  }

  & [data-part="secondary-text"],
  & [data-part="description"] {
    color: var(--noora-surface-label-secondary);
    font: var(--noora-font-body-small);
  }

  & [data-part="left-icon"],
  & [data-part="right-icon"] {
    display: inline-flex;
    height: var(--noora-icon-size-large);
    width: var(--noora-icon-size-large);

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  &[data-highlighted] {
    background: var(--noora-dropdown-hover-background);
  }

  &[data-size="small"] {
    gap: var(--noora-spacing-4);
    padding: var(--noora-spacing-3) var(--noora-spacing-4);
  }

  &[data-size="large"] {
    gap: var(--noora-spacing-5);
    padding: var(--noora-spacing-4);

    & [data-part="left-icon"] {
      border-radius: var(--noora-radius-large);
      box-shadow: var(--noora-border-light-default);
      padding: 10px;
    }
  }
}
