.noora-badge {
  display: inline-flex;
  padding: var(--noora-spacing-1) var(--noora-spacing-4);
  justify-content: center;
  align-items: center;
  border-radius: var(--noora-radius-small);

  --badge-fill-label: light-dark(
    var(--noora-neutral-light-50),
    var(--noora-neutral-light-100)
  );

  --badge-fill-neutral: light-dark(
    var(--noora-neutral-light-800),
    var(--noora-neutral-dark-600)
  );
  --badge-fill-destructive: light-dark(
    var(--noora-red-500),
    var(--noora-red-700)
  );
  --badge-fill-warning: light-dark(
    var(--noora-orange-500),
    var(--noora-orange-600)
  );
  --badge-fill-attention: light-dark(
    var(--noora-yellow-500),
    var(--noora-yellow-600)
  );
  --badge-fill-success: light-dark(
    var(--noora-green-500),
    var(--noora-green-600)
  );
  --badge-fill-information: light-dark(
    var(--noora-azure-500),
    var(--noora-azure-700)
  );
  --badge-fill-focus: light-dark(var(--noora-blue-500), var(--noora-blue-700));
  --badge-fill-primary: light-dark(
    var(--noora-purple-500),
    var(--noora-purple-700)
  );
  --badge-fill-secondary: light-dark(
    var(--noora-pink-500),
    var(--noora-pink-700)
  );

  --badge-light-fill-neutral-background: light-dark(
    var(--noora-neutral-light-400),
    color-mix(in oklch, var(--noora-neutral-dark-900) 50%, transparent)
  );
  --badge-light-fill-neutral-label: light-dark(
    var(--noora-neutral-light-1100),
    var(--noora-neutral-light-100)
  );
  --badge-light-fill-destructive-background: light-dark(
    var(--noora-red-50),
    color-mix(in oklch, var(--noora-red-500) 16%, transparent)
  );
  --badge-light-fill-destructive-label: light-dark(
    var(--noora-red-600),
    var(--noora-red-500)
  );
  --badge-light-fill-warning-background: light-dark(
    var(--noora-orange-50),
    color-mix(in oklch, var(--noora-orange-500) 16%, transparent)
  );
  --badge-light-fill-warning-label: light-dark(
    var(--noora-orange-600),
    var(--noora-orange-500)
  );
  --badge-light-fill-attention-background: light-dark(
    var(--noora-azure-50),
    color-mix(in oklch, var(--noora-azure-500) 16%, transparent)
  );
  --badge-light-fill-attention-label: light-dark(
    var(--noora-azure-700),
    var(--noora-azure-500)
  );
  --badge-light-fill-success-background: light-dark(
    var(--noora-green-50),
    color-mix(in oklch, var(--noora-green-500) 16%, transparent)
  );
  --badge-light-fill-success-label: light-dark(
    var(--noora-green-700),
    var(--noora-green-500)
  );
  --badge-light-fill-information-background: light-dark(
    var(--noora-azure-50),
    color-mix(in oklch, var(--noora-azure-500) 16%, transparent)
  );
  --badge-light-fill-information-label: light-dark(
    var(--noora-azure-700),
    var(--noora-azure-400)
  );
  --badge-light-fill-focus-background: light-dark(
    var(--noora-blue-50),
    color-mix(in oklch, var(--noora-blue-700) 16%, transparent)
  );
  --badge-light-fill-focus-label: light-dark(
    var(--noora-blue-700),
    var(--noora-blue-500)
  );
  --badge-light-fill-primary-background: light-dark(
    var(--noora-purple-50),
    color-mix(in oklch, var(--noora-purple-700) 16%, transparent)
  );
  --badge-light-fill-primary-label: light-dark(
    var(--noora-purple-700),
    var(--noora-purple-400)
  );
  --badge-light-fill-secondary-background: light-dark(
    var(--noora-pink-50),
    color-mix(in oklch, var(--noora-pink-700) 16%, transparent)
  );
  --badge-light-fill-secondary-label: light-dark(
    var(--noora-pink-600),
    var(--noora-pink-500)
  );

  --badge-disabled-background: light-dark(
    var(--noora-neutral-light-200),
    var(--noora-neutral-light-1000)
  );
  --badge-disabled-label: light-dark(
    var(--noora-neutral-light-600),
    var(--noora-neutral-light-300)
  );
}

.noora-badge[data-size="small"] {
  font: var(--noora-body-xsmall-font);
  font-weight: var(--noora-font-weight-medium);
}

.noora-badge[data-size="large"] {
  font: var(--noora-body-small-font);
  font-weight: var(--noora-font-weight-medium);
}

.noora-badge[data-style="fill"] {
  color: var(--badge-fill-label);
}

.noora-badge[data-style="fill"][data-color="neutral"] {
  background: var(--badge-fill-neutral);
}

.noora-badge[data-style="fill"][data-color="destructive"] {
  background: var(--badge-fill-destructive);
}

.noora-badge[data-style="fill"][data-color="warning"] {
  background: var(--badge-fill-warning);
}

.noora-badge[data-style="fill"][data-color="attention"] {
  background: var(--badge-fill-attention);
}

.noora-badge[data-style="fill"][data-color="success"] {
  background: var(--badge-fill-success);
}

.noora-badge[data-style="fill"][data-color="information"] {
  background: var(--badge-fill-information);
}

.noora-badge[data-style="fill"][data-color="focus"] {
  background: var(--badge-fill-focus);
}

.noora-badge[data-style="fill"][data-color="primary"] {
  background: var(--badge-fill-primary);
}

.noora-badge[data-style="fill"][data-color="secondary"] {
  background: var(--badge-fill-secondary);
}

.noora-badge[data-style="light-fill"][data-color="neutral"] {
  background: var(--badge-light-fill-neutral-background);
  color: var(--badge-light-fill-neutral-label);
}

.noora-badge[data-style="light-fill"][data-color="destructive"] {
  background: var(--badge-light-fill-destructive-background);
  color: var(--badge-light-fill-destructive-label);
}

.noora-badge[data-style="light-fill"][data-color="warning"] {
  background: var(--badge-light-fill-warning-background);
  color: var(--badge-light-fill-warning-label);
}

.noora-badge[data-style="light-fill"][data-color="attention"] {
  background: var(--badge-light-fill-attention-background);
  color: var(--badge-light-fill-attention-label);
}

.noora-badge[data-style="light-fill"][data-color="success"] {
  background: var(--badge-light-fill-success-background);
  color: var(--badge-light-fill-success-label);
}

.noora-badge[data-style="light-fill"][data-color="information"] {
  background: var(--badge-light-fill-information-background);
  color: var(--badge-light-fill-information-label);
}

.noora-badge[data-style="light-fill"][data-color="focus"] {
  background: var(--badge-light-fill-focus-background);
  color: var(--badge-light-fill-focus-label);
}

.noora-badge[data-style="light-fill"][data-color="primary"] {
  background: var(--badge-light-fill-primary-background);
  color: var(--badge-light-fill-primary-label);
}

.noora-badge[data-style="light-fill"][data-color="secondary"] {
  background: var(--badge-light-fill-secondary-background);
  color: var(--badge-light-fill-secondary-label);
}

.noora-badge[data-disabled] {
  background: var(--badge-disabled-background) !important;
  color: var(--badge-disabled-label) !important;
}

.noora-badge[data-icon] {
  padding-left: var(--noora-spacing-2);
}

.noora-badge[data-size="small"][data-icon] {
  gap: var(--noora-spacing-1);
}

.noora-badge[data-size="large"][data-icon] {
  gap: var(--noora-spacing-2);
}

.noora-badge[data-size="small"] .noora-badge__icon {
  height: var(--noora-icon-size-small);
  width: var(--noora-icon-size-small);
}

.noora-badge[data-size="large"] .noora-badge__icon {
  height: var(--noora-icon-size-medium);
  width: var(--noora-icon-size-medium);
}

.noora-badge[data-size="small"] .noora-badge__icon svg {
  width: var(--noora-icon-size-small);
  height: var(--noora-icon-size-small);
}

.noora-badge[data-size="large"] .noora-badge__icon svg {
  width: var(--noora-icon-size-medium);
  height: var(--noora-icon-size-medium);
}

.noora-badge[data-dot] {
  padding-left: var(--noora-spacing-0);
}
