.noora-modal {
  box-sizing: border-box;
  --noora-modal-icon-destructive-background: light-dark(var(--noora-red-50), var(--noora-alpha-red));
  --noora-modal-icon-destructive-label: light-dark(var(--noora-red-600), var(--noora-red-500));
  --noora-modal-icon-warning-background: light-dark(var(--noora-orange-50), var(--noora-alpha-orange));
  --noora-modal-icon-warning-label: light-dark(var(--noora-orange-600), var(--noora-orange-500));
  --noora-modal-icon-success-background: light-dark(var(--noora-green-50), var(--noora-alpha-green));
  --noora-modal-icon-success-label: light-dark(var(--noora-green-700), var(--noora-green-500));
  --noora-modal-icon-info-background: light-dark(var(--noora-azure-50), var(--noora-alpha-azure));
  --noora-modal-icon-info-label: light-dark(var(--noora-azure-700), var(--noora-azure-400));

  & [data-part="backdrop"] {
    backdrop-filter: blur(2.5px);
    background: var(--noora-surface-overlay);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  & [data-part="positioner"] {
    box-sizing: border-box;
    display: flex;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 101;
  }

  & [data-part="content"] {
    background: var(--noora-surface-background-primary);
    border-radius: var(--noora-radius-2xlarge);
    box-sizing: border-box;
    overflow: hidden;
  }

  & [data-part="header"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: var(--noora-spacing-6) var(--noora-spacing-6) var(--noora-spacing-6) var(--noora-spacing-7);
    width: 100%;

    & [data-part="header-content"] {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: var(--noora-spacing-2);
      justify-content: center;
    }

    & [data-part="row"] {
      display: flex;
      gap: var(--noora-spacing-6);
      justify-content: space-between;
    }

    & [data-part="icon"] {
      align-items: center;
      color: var(--noora-surface-label-primary);
      display: flex;
      justify-content: center;

      & svg {
        height: var(--noora-icon-size-large);
        width: var(--noora-icon-size-large);
      }
    }

    & [data-part="title"] {
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-medium);
    }

    & [data-part="description"] {
      color: var(--noora-surface-label-secondary);
      font: var(--noora-font-body-small);
    }

    &[data-type="error"] [data-part="icon"] {
      color: var(--noora-modal-icon-destructive-label);
    }

    &[data-type="success"] [data-part="icon"] {
      color: var(--noora-modal-icon-success-label);
    }

    &[data-type="warning"] [data-part="icon"] {
      color: var(--noora-modal-icon-warning-label);
    }

    &[data-type="info"] [data-part="icon"] {
      color: var(--noora-modal-icon-info-label);
    }

    &[data-size="small"] {
      gap: var(--noora-spacing-5);
    }

    &[data-size="large"] {
      gap: var(--noora-spacing-6);

      & [data-part="icon"] {
        border-radius: var(--noora-radius-large);
        padding: 10px;
      }

      &[data-type="icon"] [data-part="icon"] {
        box-shadow: var(--noora-border-light-default);
      }

      &[data-type="error"] [data-part="icon"] {
        background: var(--noora-modal-icon-destructive-background);
      }

      &[data-type="success"] [data-part="icon"] {
        background: var(--noora-modal-icon-success-background);
      }

      &[data-type="warning"] [data-part="icon"] {
        background: var(--noora-modal-icon-warning-background);
      }

      &[data-type="info"] [data-part="icon"] {
        background: var(--noora-modal-icon-info-background);
      }
    }
  }

  & [data-part="body"] {
    font: var(--noora-font-body-medium);
    padding: var(--noora-spacing-6) var(--noora-spacing-7) var(--noora-spacing-6) var(--noora-spacing-7);
  }

  & [data-part="footer"] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--noora-spacing-6) var(--noora-spacing-7) var(--noora-spacing-6) var(--noora-spacing-7);

    & [data-part="actions"] {
      display: flex;
      gap: var(--noora-spacing-5);
    }

    &[data-type="stretch"] {
      & div {
        flex-grow: 1;
        & * {
          width: 100%;
        }
      }
    }
  }
}
