<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Tuist Cloud" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/v2/css/app.css"} />
    <script defer phx-track-static type="module" src={~p"/v2/assets/app.js"}></script>
    <script defer phx-track-static type="text/javascript" src={~p"/v2/js/Chart.js"}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
