!SX3832
#
vlan 1
 name "System-VLAN"
#
vlan 10
 name "machines"
#
vlan 4000
 name "edge-vrrp"
#
hostname "ber1-tor-a"
serial_port baud_rate 38400
#
no system-time dst
#
telnet disable
no service reset-disable
#
spanning-tree
spanning-tree mode rstp
#
no snmp-server
#
no ip http server
#
lldp
#
no controller cloud-based
no controller cloud-based privacy-policy
#
interface vlan 1
  ip address 192.168.0.11 255.255.255.0 gateway 192.168.0.10
  ipv6 enable
#
interface ten-gigabitEthernet 1/0/1
  spanning-tree
#
interface ten-gigabitEthernet 1/0/2
  spanning-tree
#
interface ten-gigabitEthernet 1/0/3
  spanning-tree
#
interface ten-gigabitEthernet 1/0/4
  spanning-tree
#
interface ten-gigabitEthernet 1/0/5
  spanning-tree
#
interface ten-gigabitEthernet 1/0/6
  spanning-tree
#
interface ten-gigabitEthernet 1/0/7
  spanning-tree
#
interface ten-gigabitEthernet 1/0/8
  spanning-tree
#
interface ten-gigabitEthernet 1/0/9
  spanning-tree
#
interface ten-gigabitEthernet 1/0/10
  spanning-tree
#
interface ten-gigabitEthernet 1/0/11
  spanning-tree
#
interface ten-gigabitEthernet 1/0/12
  spanning-tree
#
interface ten-gigabitEthernet 1/0/13
  spanning-tree
#
interface ten-gigabitEthernet 1/0/14
  spanning-tree
#
interface ten-gigabitEthernet 1/0/15
  spanning-tree
#
interface ten-gigabitEthernet 1/0/16
  spanning-tree
#
interface ten-gigabitEthernet 1/0/17
  spanning-tree
#
interface ten-gigabitEthernet 1/0/18
  spanning-tree
#
interface ten-gigabitEthernet 1/0/19
  spanning-tree
#
interface ten-gigabitEthernet 1/0/20
  spanning-tree
#
interface ten-gigabitEthernet 1/0/21
  spanning-tree
#
interface ten-gigabitEthernet 1/0/22
  spanning-tree
#
interface ten-gigabitEthernet 1/0/23
  spanning-tree
#
interface ten-gigabitEthernet 1/0/24
  description "router uplink WAN"
  spanning-tree
#
interface ten-gigabitEthernet 1/0/25
  spanning-tree
  switchport general allowed vlan 10 tagged
  switchport general allowed vlan 4000 tagged
#
interface ten-gigabitEthernet 1/0/26
  spanning-tree
  switchport general allowed vlan 10 tagged
  switchport general allowed vlan 4000 tagged
#
interface ten-gigabitEthernet 1/0/27
  spanning-tree
#
interface ten-gigabitEthernet 1/0/28
  spanning-tree
#
interface ten-gigabitEthernet 1/0/29
  spanning-tree
#
interface ten-gigabitEthernet 1/0/30
  spanning-tree
#
interface ten-gigabitEthernet 1/0/31
  description "isl ber1-tor-b"
  spanning-tree
  channel-group 1 mode active
  switchport general allowed vlan 10 tagged
  switchport general allowed vlan 4000 tagged
#
interface ten-gigabitEthernet 1/0/32
  description "isl ber1-tor-b"
  spanning-tree
  channel-group 1 mode active
  switchport general allowed vlan 10 tagged
  switchport general allowed vlan 4000 tagged
#
interface port-channel 1
  description "isl ber1-tor-b"
  spanning-tree
  switchport general allowed vlan 10 tagged
  switchport general allowed vlan 4000 tagged
#
end
