!SG3452
#
vlan 1
 name "System-VLAN"
#
hostname "ber1-mgmt"
serial_port baud_rate 38400
#
no system-time dst
#
telnet disable
no service reset-disable
#
spanning-tree
spanning-tree mode rstp
#
no snmp-server
#
no ip http server
#
lldp
#
ip route 100.64.0.0 255.192.0.0 192.168.0.10
#
no controller cloud-based
no controller cloud-based privacy-policy
#
interface vlan 1
  ip address 192.168.0.13 255.255.255.0
  ipv6 enable
#
interface gigabitEthernet 1/0/1
  spanning-tree
#
interface gigabitEthernet 1/0/2
  spanning-tree
#
interface gigabitEthernet 1/0/3
  spanning-tree
#
interface gigabitEthernet 1/0/4
  spanning-tree
#
interface gigabitEthernet 1/0/5
  spanning-tree
#
interface gigabitEthernet 1/0/6
  spanning-tree
#
interface gigabitEthernet 1/0/7
  spanning-tree
#
interface gigabitEthernet 1/0/8
  spanning-tree
#
interface gigabitEthernet 1/0/9
  spanning-tree
#
interface gigabitEthernet 1/0/10
  spanning-tree
#
interface gigabitEthernet 1/0/11
  spanning-tree
#
interface gigabitEthernet 1/0/12
  spanning-tree
#
interface gigabitEthernet 1/0/13
  spanning-tree
#
interface gigabitEthernet 1/0/14
  spanning-tree
#
interface gigabitEthernet 1/0/15
  spanning-tree
#
interface gigabitEthernet 1/0/16
  spanning-tree
#
interface gigabitEthernet 1/0/17
  spanning-tree
#
interface gigabitEthernet 1/0/18
  spanning-tree
#
interface gigabitEthernet 1/0/19
  spanning-tree
#
interface gigabitEthernet 1/0/20
  spanning-tree
#
interface gigabitEthernet 1/0/21
  spanning-tree
#
interface gigabitEthernet 1/0/22
  spanning-tree
#
interface gigabitEthernet 1/0/23
  spanning-tree
#
interface gigabitEthernet 1/0/24
  spanning-tree
#
interface gigabitEthernet 1/0/25
  spanning-tree
#
interface gigabitEthernet 1/0/26
  spanning-tree
#
interface gigabitEthernet 1/0/27
  spanning-tree
#
interface gigabitEthernet 1/0/28
  spanning-tree
#
interface gigabitEthernet 1/0/29
  spanning-tree
#
interface gigabitEthernet 1/0/30
  spanning-tree
#
interface gigabitEthernet 1/0/31
  spanning-tree
#
interface gigabitEthernet 1/0/32
  spanning-tree
#
interface gigabitEthernet 1/0/33
  spanning-tree
#
interface gigabitEthernet 1/0/34
  spanning-tree
#
interface gigabitEthernet 1/0/35
  spanning-tree
#
interface gigabitEthernet 1/0/36
  spanning-tree
#
interface gigabitEthernet 1/0/37
  spanning-tree
#
interface gigabitEthernet 1/0/38
  spanning-tree
#
interface gigabitEthernet 1/0/39
  spanning-tree
#
interface gigabitEthernet 1/0/40
  spanning-tree
#
interface gigabitEthernet 1/0/41
  spanning-tree
#
interface gigabitEthernet 1/0/42
  spanning-tree
#
interface gigabitEthernet 1/0/43
  spanning-tree
#
interface gigabitEthernet 1/0/44
  spanning-tree
#
interface gigabitEthernet 1/0/45
  spanning-tree
#
interface gigabitEthernet 1/0/46
  spanning-tree
#
interface gigabitEthernet 1/0/47
  spanning-tree
#
interface gigabitEthernet 1/0/48
  spanning-tree
#
interface gigabitEthernet 1/0/49
  spanning-tree
#
interface gigabitEthernet 1/0/50
  spanning-tree
#
interface gigabitEthernet 1/0/51
  spanning-tree
#
interface gigabitEthernet 1/0/52
  spanning-tree
#
end
