!App.xcodeproj
!App.xcodeproj/project.xcworkspace
!App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
App.xcodeproj/project.xcworkspace/xcuserdata
App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
