html:not([data-noora]) {
  & .auth-page {
    flex-basis: 0;
    flex-grow: 999;
    display: flex;
    align-items: center;
  }

  & .auth-page__background {
    position: absolute;
    top: 0;
    width: 60%;
    height: 40%;
    z-index: -1;
  }

  & .auth-header__title {
    text-align: center;
  }

  & .auth-header__subtitle {
    text-align: center;
  }

  & .auth-header {
    align-items: center;
  }

  & .auth-header__logo {
    width: 48px;
  }

  & .auth-form {
    width: 360px;
  }

  & .auth-form__primary-action {
    width: 100%;
  }
}

html[data-noora] {
  #login,
  #signup,
  #signup-success,
  #confirmation,
  #forgot-password,
  #reset-password,
  #accept-invitation {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--surface-background-primary);
    position: relative;

    & * {
      box-sizing: border-box;
    }

    & .noora-alert {
      width: 100%;
    }

    & [data-part="frame"] {
      z-index: var(--noora-z-index-4);
      display: flex;
      padding: var(--noora-spacing-4);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--noora-spacing-6);
      border-radius: var(--noora-radius-2xlarge);
      background: var(--noora-surface-background-primary);
      box-shadow: var(--noora-border-heavy);

      &:not(:has([data-part="bottom-link"])) {
        & [data-part="content"] {
          padding: var(--noora-spacing-10) var(--noora-spacing-11);
        }
      }
    }

    & [data-part="content"] {
      display: flex;
      padding: var(--noora-spacing-10) var(--noora-spacing-11) var(--noora-spacing-3) var(--noora-spacing-11);
      flex-direction: column;
      align-items: center;
      max-width: 438px;
      gap: var(--noora-spacing-9);

      & > [data-part="logo"] {
        height: 50px;
        width: 50px;
        z-index: 103;
      }

      & > [data-part="header"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--noora-spacing-3);

        & > [data-part="title"] {
          font: var(--noora-font-weight-medium) var(--noora-font-heading-medium);
          margin: 0;
          color: var(--noora-surface-label-primary);
        }

        & > [data-part="subtitle"] {
          text-align: center;
          font: var(--noora-font-body-small);
          color: var(--noora-surface-label-secondary);
        }
      }
    }

    & [data-part="dots"] {
      margin-top: -80px;
      width: 342px;
      height: 52px;

      & svg {
        display: none;
      }

      html[data-theme="light"] & svg {
        &[data-theme="light"] {
          display: block;
        }
        &[data-theme="dark"] {
          display: none;
        }
      }
      html[data-theme="dark"] & svg {
        &[data-theme="light"] {
          display: none;
        }
        &[data-theme="dark"] {
          display: block;
        }
      }
    }

    & [data-part="oauth"] {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(100px, 1fr);
      width: 100%;
      gap: var(--noora-spacing-4);
    }

    & [data-part="form"] {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--noora-spacing-8);
    }

    & [data-part="background"] {
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100dvw;
      height: 100dvh;
      overflow: hidden;

      & [data-part="shell"] {
        display: flex;
        height: 80%;
        align-items: flex-end;
        bottom: 0px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        z-index: var(--noora-z-index-1);

        & svg {
          height: 100%;
        }

        & svg path {
          html[data-theme="light"] & {
            stroke: url(#light);
          }
          html[data-theme="dark"] & {
            stroke: url(#dark);
          }
        }
      }

      & [data-part="top-right-gradient"] {
        z-index: var(--noora-z-index-2);
        width: 80%;
        height: 50%;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 1000px;
        translate: 50% -50%;
        background: light-dark(oklch(53.2% 0.276 286.9 / 0.15), oklch(53.2% 0.276 286.9 / 0.3));
        filter: blur(150px);
      }

      & [data-part="bottom-left-gradient"] {
        width: 90%;
        height: 40%;
        border-radius: 1000px;
        background: light-dark(oklch(54.2% 0.27 286.9 / 0.1), oklch(54.2% 0.27 286.9 / 0.15));
        position: absolute;
        filter: blur(150px);
        translate: -50% 20%;
        position: absolute;
        left: 0px;
        z-index: var(--noora-z-index-2);
        bottom: 0px;
      }
    }
  }

  #login,
  #signup,
  #forgot-password {
    & [data-part="bottom-link"] {
      align-items: center;
      background: var(--noora-surface-background-tertiary);
      border-radius: var(--noora-radius-large);
      box-shadow: var(--noora-border-section);
      display: flex;
      gap: var(--noora-spacing-2);
      justify-content: center;
      padding: var(--noora-spacing-8) var(--noora-spacing-9);
      width: 100%;

      & > span {
        font: var(--noora-font-body-medium);
        color: var(--noora-surface-label-secondary);
      }
    }
  }

  #login {
    & [data-part="remember-me"] {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  #signup {
    display: flex;

    & [data-part="wrapper"] {
      display: flex;
      gap: var(--noora-spacing-6);

      @media (max-width: 768px) {
        margin-top: var(--noora-spacing-6);
        margin-bottom: var(--noora-spacing-6);
        flex-direction: column-reverse;
      }
    }

    & [data-part="frame"]:has(> [data-part="features"]) {
      align-items: flex-start;
      padding: 0;
      justify-content: space-between;
      background:
        radial-gradient(131.61% 140.32% at 0% 100%, oklch(53.2% 0.276 286.9 / 0.04) 0%, oklch(100% 0 0 / 0) 100%),
        var(--noora-surface-background-primary);
    }

    & [data-part="features"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--noora-spacing-9);
      padding: var(--noora-spacing-9) var(--noora-spacing-10);

      & [data-part="feature"] {
        display: flex;
        flex-direction: column;
        gap: var(--noora-spacing-3);

        & > div {
          display: flex;
          gap: var(--noora-spacing-2);
        }
      }

      & [data-part="icon"] {
        width: 18px;
        height: 18px;

        & svg {
          width: 100%;
          height: 100%;
        }
      }

      & [data-part="title"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-medium) var(--noora-font-body-medium);
      }

      & [data-part="description"] {
        color: var(--noora-surface-label-secondary);
        font: var(--noora-font-body-small);
      }
    }

    & [data-part="image"] {
      border-radius: var(--noora-radius-2xlarge);
      overflow: hidden;
      margin: 1.5px;
      width: 658px;

      &:not([data-oauth-enabled]) {
        height: 344px;
      }

      /* Prevent layout shift */
      & [data-theme="light"] {
        display: none;
      }
      & [data-theme="dark"] {
        display: none;
      }

      html[data-theme="light"] & {
        [data-theme="light"] {
          display: block;
        }
        [data-theme="dark"] {
          display: none;
        }
      }

      html[data-theme="dark"] & {
        [data-theme="light"] {
          display: none;
        }
        [data-theme="dark"] {
          display: block;
        }
      }

      & img {
        width: 658px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  #accept-invitation {
    & [data-part="actions"] {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-4);

      & .noora-button {
        width: 100%;
      }
    }
  }
}
