.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}

.preview__title {
  padding-bottom: var(--spacing-lg);
}

.preview__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
  padding-bottom: var(--spacing-lg);
}

.preview__header__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.preview__header__metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
}

.preview__header__metadata__title {
  color: var(--text-primary);
  font: var(--text-extra-large-regular);
}

.preview__header__metadata__subtitle {
  font: var(--text-);
}

.preview__header__download-text {
  color: var(--text-primary);
  font: var(--text-small-regular);
}

.preview__extra-metadata {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacing-5xl);
  row-gap: var(--spacing-lg);
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  background-color: var(--bg-secondary);
  padding: var(--spacing-lg) var(--spacing-xl);
  width: 100%;
  max-width: 800px;
}

@media (max-width: 1024px) {
  .preview__extra-metadata {
    grid-template-columns: repeat(2, 1fr);
  }
}

.preview__extra-metadata-item__title {
  color: var(--text-primary);
  font: var(--text-medium-regular);
}

.preview__extra-metadata-item__value {
  color: var(--text-secondary);
  font: var(--text-small-regular);
}

.preview__qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  box-sizing: border-box;
  margin-top: var(--spacing-lg);
  border-radius: var(--radius-sm);
  background-color: var(--bg-secondary);
  padding: var(--spacing-lg) var(--spacing-xl);
  width: 100%;
  max-width: 800px;
}

.preview__qr-code__title {
  color: var(--text-primary);
  font: var(--text-medium-regular);
}

.preview__qr-code__image {
  width: 150px;
}
