#run-detail {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-6);
  padding: var(--noora-spacing-7) var(--noora-spacing-5);

  & > [data-part="back-button"] {
    align-self: flex-start;
  }

  & [data-part="test-details-section"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-8);
    & [data-part="metadata-grid"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-9);

      & [data-part="metadata-row"] {
        display: flex;
        flex-direction: row;
        gap: var(--noora-spacing-7);

        & > [data-part="metadata"] {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: flex-start;
          gap: var(--noora-spacing-4);

          & > [data-part="title"] {
            color: var(--noora-surface-label-secondary);
            font: var(--noora-font-weight-medium) var(--noora-font-body-medium);
          }

          & > [data-part="label"] {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: var(--noora-spacing-2);

            & > svg {
              color: var(--noora-surface-label-secondary);
              height: var(--noora-icon-size-medium);
              width: var(--noora-icon-size-medium);
            }
            color: var(--noora-surface-label-primary);
            font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
          }

          & > [data-part="command"] {
            color: var(--noora-surface-label-primary);
            font: var(--noora-font-weight-regular) var(--noora-font-code-large);
          }
        }
      }
    }
  }

  & [data-part="optimization-summary-section"] {
    display: flex;
    flex-direction: row;
    gap: var(--noora-spacing-4);

    & > * {
      flex: 1;
    }
  }

  & [data-part="binary-cache-section"],
  & [data-part="selective-testing-section"] {
    display: flex;
    flex-direction: column;
    padding: var(--noora-spacing-8);
    gap: var(--noora-spacing-8);

    & table {
      & td:first-child {
        width: 55%;
      }
    }
  }
}
