#marketing-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--noora-spacing-0);

  @media (min-width: 1024px) {
    gap: var(--noora-spacing-11);
  }

  & > [data-part="header"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: var(--noora-spacing-9);
    padding-right: var(--noora-spacing-6);
    padding-left: var(--noora-spacing-6);
    width: 70vi;

    @media (min-width: 1024px) {
      padding-right: var(--noora-spacing-14);
      padding-left: var(--noora-spacing-14);
    }

    & > [data-part="logo"] {
      aspect-ratio: 1;
      width: min(348px, 40vw);
      height: min(348px, 40vw);
    }

    & > [data-part="title"] {
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-display-xlarge);
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }

    & > [data-part="subtitle"] {
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-large);
      text-align: center;
    }
  }

  & > [data-part="content"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-9);
    padding-top: var(--noora-spacing-10);
    padding-bottom: var(--noora-spacing-10);

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    & > * {
      flex: 1;
    }
    & > [data-part="title"] {
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-display-small);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }
    & > [data-part="body"] {
      display: flex;
      flex-direction: column;
      gap: var(--noora-spacing-6);
      color: var(--noora-surface-label-primary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-large);
    }
  }

  & > [data-part="photos"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-7);
    padding-right: var(--noora-spacing-6);
    padding-left: var(--noora-spacing-6);

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: var(--noora-spacing-5);
      padding-right: var(--noora-spacing-14);
      padding-left: var(--noora-spacing-14);
    }

    & > [data-part="photo"] {
      flex: 1 1 0;
      box-shadow:
        0 139px 39px 0 rgba(0, 0, 0, 0),
        0 89px 36px 0 rgba(0, 0, 0, 0.01),
        0 50px 30px 0 rgba(0, 0, 0, 0.03),
        0 22px 22px 0 rgba(0, 0, 0, 0.05),
        0 6px 12px 0 rgba(0, 0, 0, 0.05);
      border-radius: var(--noora-radius-2xlarge);
      background: #f5f5f5;
      width: 100%;
      min-width: 0;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & > [data-part="values"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-12);
    padding-right: var(--noora-spacing-6);
    padding-left: var(--noora-spacing-6);

    @media (min-width: 1024px) {
      padding-right: var(--noora-spacing-14);
      padding-left: var(--noora-spacing-14);
    }

    & > [data-part="header"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: var(--noora-spacing-12);

      & > [data-part="title"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-medium) var(--noora-font-heading-2xlarge);
      }
    }

    & > [data-part="main"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--noora-spacing-5);
      padding-left: 0;

      @media (max-width: 1024px) {
        max-width: min(424px, calc(100vw - var(--noora-spacing-9)));
      }

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      & > [data-part="card"] {
        display: flex;
        position: relative;
        flex-direction: column;
        box-shadow:
          0 1px 1px 0 rgba(22, 24, 28, 0.05),
          0 0 0 1px rgba(46, 51, 56, 0.08),
          0 1px 1px 0 rgba(46, 51, 56, 0.1);
        border-radius: var(--noora-radius-xlarge);
        background: var(--noora-surface-background-primary);
        width: 100%;
        overflow: hidden;

        @media (min-width: 1024px) {
          max-width: min(424px, 30vw);
        }

        & > [data-part="background"] {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: var(--noora-z-index-1);
          width: 100%;
          height: 100%;
        }
        & > [data-part="graphic"] {
          position: relative;
          z-index: var(--noora-z-index-2);
          margin-top: auto;
        }
        & > [data-part="footer"] {
          display: flex;
          position: relative;
          flex-direction: column;
          gap: var(--noora-spacing-3);
          z-index: var(--noora-z-index-3);
          padding: var(--noora-spacing-8);

          & > [data-part="title"] {
            color: var(--noora-surface-label-primary);
            font: var(--noora-font-weight-medium) var(--noora-font-body-medium);
          }

          & > [data-part="subtitle"] {
            color: var(--noora-surface-label-secondary);
            font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
          }
        }
      }
    }
  }
  & > [data-part="team"] {
    display: flex;
    flex-direction: column;
    gap: var(--noora-spacing-12);
    padding-right: var(--noora-spacing-6);
    padding-left: var(--noora-spacing-6);

    @media (min-width: 1024px) {
      margin-right: var(--noora-spacing-14);
      margin-left: var(--noora-spacing-14);
    }

    & > [data-part="header"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--noora-spacing-6);
      padding-top: var(--noora-spacing-12);

      & > [data-part="title"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-medium) var(--noora-font-heading-2xlarge);
      }
      & > [data-part="subtitle"] {
        color: var(--noora-surface-label-primary);
        font: var(--noora-font-weight-regular) var(--noora-font-body-medium);
        text-align: center;
      }
    }

    & > [data-part="main"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--noora-spacing-7);

      @media (min-width: 1024px) {
        flex-direction: row;
        gap: var(--noora-spacing-7);
      }

      & > [data-part="member"] {
        display: flex;
        flex-direction: column;
        gap: var(--noora-spacing-6);

        & > [data-part="photo"] {
          position: relative;
          box-shadow:
            0 91.042px 25.333px 0 rgba(0, 0, 0, 0),
            0 58.583px 22.958px 0 rgba(0, 0, 0, 0.01),
            0 32.458px 19.792px 0 rgba(0, 0, 0, 0.05),
            0 14.25px 14.25px 0 rgba(0, 0, 0, 0.09),
            0 3.958px 7.917px 0 rgba(0, 0, 0, 0.1);
          border-radius: var(--noora-radius-xlarge);
          background: lightgray 50% / cover no-repeat;
          width: 227px;
          height: 300px;
          overflow: hidden;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          & > [data-part="data"] {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(19.791667938232422px);
            -webkit-backdrop-filter: blur(19.791667938232422px);
            mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
            -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
            filter: blur(0px);
            background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%);
            padding: var(--noora-spacing-4);
            padding-top: var(--noora-spacing-8);
            height: 64px;

            & > [data-part="name"] {
              color: var(--noora-neutral-light-50);
              font: var(--noora-font-weight-medium) var(--noora-font-body-large);
            }
            & > [data-part="role"] {
              color: var(--noora-neutral-light-50);
              font: var(--noora-font-weight-regular) var(--noora-font-body-large);
            }
          }
        }
        & > [data-part="links"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: var(--noora-spacing-4);
        }
      }
    }
  }

  & > [data-part="cta"] {
    margin-right: var(--noora-spacing-6);
    margin-left: var(--noora-spacing-6);
    padding-top: var(--noora-spacing-9);

    @media (min-width: 1024px) {
      margin-right: var(--noora-spacing-14);
      margin-left: var(--noora-spacing-14);
      padding-top: var(--noora-spacing-14);
    }
  }
}
