<h1><%= @inviter.account.name %> has invited you to join <%= @organization.name %> Tuist Cloud</h1>

<p>
  <%# <%= link_to 'Accept the invitation', invitation_path(@token) %>
  <%= link_to 'Accept the invitation', invitation_url(@token) %>
</p>
