.noora-chart {
  margin: 0;
  padding: 0;
  overflow: hidden;

  & [data-part="chart"] {
    width: 100%;
    height: 100%;
  }
}

.noora-chart-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--noora-spacing-4);
  box-shadow: var(--noora-border-medium);
  border-radius: var(--noora-radius-medium);
  background: var(--noora-surface-background-primary);
  padding: var(--noora-spacing-5);

  & > [data-part="title"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-xsmall);
  }

  & [data-part="series-item"] {
    display: flex;
    align-items: center;
    gap: var(--noora-spacing-3);
    width: 100%;
  }

  & [data-part="dot"] {
    flex-shrink: 0;
    border-radius: var(--noora-radius-xsmall);
    background: var(--color);
    width: 8px;
    height: 4px;
  }

  & [data-part="label"] {
    overflow: hidden;
    color: var(--noora-surface-label-secondary);
    font: var(--noora-font-body-xsmall);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & [data-part="value"] {
    margin-left: auto;
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-xsmall);
  }
}
