<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <%= for entry <- @entries do %>
    <url>
      <loc><%= entry %></loc>
      <priority>0.5</priority>
      <changefreq>weekly</changefreq>
    </url>
  <% end %>
</urlset>
