/*
 * This is a manifest file that'll be compiled into app.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --text-interactive: rgb(129 140 248);
  --text-interactive-active: rgb(99 102 241);
  --text-on-color: rgb(255, 255, 255);
  --text-inverse: rgb(223, 227, 232);

  --tuist-color-primary-50: rgb(238, 242, 255);
  --tuist-color-primary-100: rgb(224, 231, 255);
  --tuist-color-primary-200: rgb(199, 210, 254);
  --tuist-color-primary-300: rgb(165, 180, 252);
  --tuist-color-primary-400: rgb(129, 140, 248);
  --tuist-color-primary-500: rgb(99, 102, 241);
  --tuist-color-primary-600: rgb(79 70 229);
  --tuist-color-primary-700: rgb(67 56 202);
  --tuist-color-primary-800:rgb(55 48 163);
  --tuist-color-primary-900: rgb(49, 46, 129);
  --tuist-color-primary-950: rgb(30, 27, 75);

  --tuist-color-gray-50: rgb(38, 39, 41);
  --tuist-color-gray-100: rgb(43, 45, 49);
  --tuist-color-gray-200: rgb(50, 53, 57);
  --tuist-color-gray-300: rgb(61, 65, 71);
  --tuist-color-gray-400: rgb(79, 84, 91);
  --tuist-color-gray-500: rgb(102, 110, 119);
  --tuist-color-gray-600: rgb(146, 157, 170);
  --tuist-color-gray-700: rgb(187, 201, 218);
  --tuist-color-gray-800: rgb(215, 227, 240);
  --tuist-color-gray-900: rgb(233, 240, 249);
  --tuist-color-gray-950: rgb(242, 242, 242);

  --tuist-color-neutral-50: var(--tuist-color-gray-50);
  --tuist-color-neutral-100: var(--tuist-color-gray-100);
  --tuist-color-neutral-200: var(--tuist-color-gray-200);
  --tuist-color-neutral-300: var(--tuist-color-gray-300);
  --tuist-color-neutral-400: var(--tuist-color-gray-400);
  --tuist-color-neutral-500: var(--tuist-color-gray-500);
  --tuist-color-neutral-600: var(--tuist-color-gray-600);
  --tuist-color-neutral-700: var(--tuist-color-gray-700);
  --tuist-color-neutral-800: var(--tuist-color-gray-800);
  --tuist-color-neutral-900: var(--tuist-color-gray-900);
  --tuist-color-neutral-950: var(--tuist-color-gray-950);

  --tuist-color-neutral-0: rgb(38, 39, 41);
  --tuist-color-neutral-1000: rgb(255, 255, 255);

  --tuist-color-background-critical-strong: rgb(197, 40, 12);
  --tuist-color-background-surface: rgb(31, 41, 55);
  --tuist-color-background-surface-hover: rgb(25, 33, 45);
  --tuist-color-background: rgb(17 24 39);

  --tuist-border-width-5: 0.3125rem;
  --tuist-border-width-4: 0.25rem;
  --tuist-border-width-3: 0.1875rem;
  --tuist-border-width-2: 0.125rem;
  --tuist-border-width-1: 0.0625rem;

  --tuist-font-size-2x-small: 0.625rem;
  --tuist-font-size-x-small: 0.75rem;
  --tuist-font-size-small: 0.875rem;
  --tuist-font-size-medium: 1rem;
  --tuist-font-size-large: 1.25rem;
  --tuist-font-size-x-large: 1.5rem;
  --tuist-font-size-2x-large: 2.25rem;
  --tuist-font-size-3x-large: 3rem;
  --tuist-font-size-4x-large: 4.5rem;
  --tuist-font-size-large: 1.25rem;

  --tuist-font-line-height-7: 3rem;
  --tuist-font-line-height-6: 2.5rem;
  --tuist-font-line-height-5: 2rem;
  --tuist-font-line-height-4: 1.75rem;
  --tuist-font-line-height-3: 1.5rem;
  --tuist-font-line-height-2: 1.25rem;
  --tuist-font-line-height-1: 1rem;
  --tuist-font-line-height-075: 0.75rem;

  --tuist-font-weight-light: 300;
  --tuist-font-weight-normal: 400;
  --tuist-font-weight-semibold: 500;
  --tuist-font-weight-bold: 700;

  --tuist-letter-spacing-denser: -0.03em;
  --tuist-letter-spacing-dense: -0.015em;
  --tuist-letter-spacing-normal: normal;
  --tuist-letter-spacing-loose: 0.075em;
  --tuist-letter-spacing-looser: 0.15em;

  --tuist-spacing-4x-small: 0.0625rem;
  --tuist-spacing-3x-small: 0.125rem;
  --tuist-spacing-2x-small: 0.25rem;
  --tuist-spacing-x-small: 0.5rem;
  --tuist-spacing-small: 0.75rem;
  --tuist-spacing-medium: 1rem;
  --tuist-spacing-large: 1.25rem;
  --tuist-spacing-x-large: 1.75rem;
  --tuist-spacing-2x-large: 2.25rem;
  --tuist-spacing-3x-large: 3rem;
  --tuist-spacing-4x-large: 4.5rem;
  --tuist-spacing-5x-large: 8rem;
  --tuist-spacing-none: 0rem;

  --tuist-button-font-size-small: var(--tuist-font-size-x-small);
  --tuist-button-font-size-medium: var(--tuist-font-size-small);
  --tuist-button-font-size-large: var(--tuist-font-size-medium);

  --tuist-shadow-2xl: 0rem 2rem 2rem rgba(31, 33, 36, 0.15), 0rem 2rem 3.5rem -0.125rem rgba(31, 33, 36, 0.16);
  --tuist-shadow-xl: 0rem 0.25rem 1.125rem -0.125rem rgba(31, 33, 36, 0.08), 0rem 0.75rem 1.125rem -0.125rem rgba(31, 33, 36, 0.15);
  --tuist-shadow-lg: 0rem 0.25rem 0.75rem rgba(31, 33, 36, 0.2), 0rem 0.125rem 0.375rem rgba(31, 33, 36, 0.05);
  --tuist-shadow-md: 0rem 0.125rem 0.25rem rgba(31, 33, 36, 0.1), 0rem 0.0625rem 0.375rem rgba(31, 33, 36, 0.05);
  --tuist-shadow-sm: 0rem 0.0625rem 0.0625rem rgba(31, 33, 36, 0.1);
  --tuist-shadow-xs: 0rem 0rem 0.125rem rgba(31, 33, 36, 0.24);

  --tuist-border-radius-small: 0.1875rem;
  --tuist-border-radius-medium: 0.25rem;
  --tuist-border-radius-large: 0.5rem;
  --tuist-border-radius-x-large: 1rem;
  --tuist-border-radius-circle: 50%;
  --tuist-border-radius-pill: 9999px;

  --tuist-transition-x-slow: 1000ms;
  --tuist-transition-slow:  500ms;
  --tuist-transition-medium: 250ms;
  --tuist-transition-fast: 150ms ;
  --tuist-transition-x-fast: 50ms;

  --tuist-z-index-12: 520;
  --tuist-z-index-11: 519;
  --tuist-z-index-10: 518;
  --tuist-z-index-9: 517;
  --tuist-z-index-8: 516;
  --tuist-z-index-7: 515;
  --tuist-z-index-6: 514;
  --tuist-z-index-5: 513;
  --tuist-z-index-4: 512;
  --tuist-z-index-3: 510;
  --tuist-z-index-2: 400;
  --tuist-z-index-1: 100;

   --tuist-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(209, 213, 219)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
   --tuist-icon-calendar: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(209, 213, 219)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-4 w-4"><rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect><line x1="16" x2="16" y1="2" y2="6"></line><line x1="8" x2="8" y1="2" y2="6"></line><line x1="3" x2="21" y1="10" y2="10"></line></svg>');
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--tuist-color-background);
}

/* Select */

select {
  appearance: none;
  outline: none;
  background-image: var(--tuist-icon-chevron);
  background-position: center right .75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  font-size: var(--tuist-font-size-small);
  background-color: var(--tuist-color-neutral-200);
  color: var(--text-inverse);
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding: var(--tuist-spacing-x-small) var(--tuist-spacing-2x-large) var(--tuist-spacing-x-small) var(--tuist-spacing-medium);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--tuist-border-radius-large);
  display: inline-flex;
  align-items: center;
}

select:hover {
  background-color: var(--tuist-color-neutral-300);
  color: var(--text-on-color);
}

select#date_range {
  background-image: var(--tuist-icon-calendar);
}

/* Article (card) */

article {
  display: flex;
  flex-direction: column;
  background-color: var(--tuist-color-background-surface);
  box-shadow: var(--tuist-shadow-xs);
  border-radius: var(--tuist-border-radius-large);
  color: var(--text-on-color);
  padding: var(--tuist-spacing-x-large) var(--tuist-spacing-2x-large);
}

article header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  font-weight: var(--tuist-font-weight-bold);
  font-size: var(--tuist-font-size-large);
  padding: 0;
}

article header p {
  flex: 1;
}

h1 {
  font-weight: var(--tuist-font-weight-semibold);
  font-size: var(--font-size-700);
  color: var(--text-on-color);
}


/* Nav */
nav,
nav ul {
  display: flex;
}

nav svg {
  width: 2.5rem;
}

nav {
  justify-content: space-between;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  padding: 0 15%;
}

nav ul {
  align-items: center;
  margin-bottom: var(--tuist-spacing-small);
  padding: 0;
  list-style: none;
}

nav h1:first-of-type {
  font-weight: var(--tuist-font-weight-bold);
  font-size: var(--tuist-font-size-medium);
  color: var(--text-on-color);
  padding-left: var(--tuist-spacing-medium)
}

nav li {
  display: flex;
  justify-content: center;
  margin: 0;
}

nav > ul > li:not(:last-child) {
  margin-right: var(--tuist-spacing-medium);
}

nav li > * {
  --spacing: 0;
}

nav :where(a, [role=link]) {
  display: inline-block;
  text-decoration: none;
  color: var(--text-on-color);
}

/* Buttons */

button {
  font-size: var(--tuist-font-size-small);
  background-color: var(--tuist-color-neutral-200);
  color: var(--text-inverse);
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding: var(--tuist-spacing-x-small) var(--tuist-spacing-small);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--tuist-border-radius-large);
  display: inline-flex;
  align-items: center;
}

button:hover {
  background-color: var(--tuist-color-neutral-300);
  color: var(--text-on-color);
}

button svg {
  height: 1rem;
  width: 1rem;
  padding-left: var(--tuist-spacing-x-small);
}

button.ghost {
  background-color: transparent;
}

button.ghost:hover {
  background-color: var(--tuist-color-neutral-300);
}

/* Icons */

.icon-medium {
  width: 2.5rem;
}

/* Table */

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
  color: var(--text-on-color);
}

table th {
  text-align: center;
  border-top: solid var(--tuist-border-width-1) var(--tuist-color-neutral-300);
  padding: var(--tuist-spacing-2x-small) 0;
  font-weight: var(--tuist-font-weight-normal);
  color: var(--text-inverse);
  font-size: var(--tuist-font-size-small);
}

table tr th,
table tr td {
  border-bottom: 1px solid var(--tuist-color-neutral-300);
}

table td {
  padding: var(--tuist-spacing-small) 0;
  text-align: center;
}

table tr {
  background-color: var(--tuist-color-background-surface);
}

table tr:hover {
  background-color: var(--tuist-color-background-surface-hover);
}

table tr th:first-child,
table tr td:first-child {
  border-left: solid var(--tuist-border-width-1) var(--tuist-color-neutral-300);
}

table tr th:last-child,
table tr td:last-child {
  border-right: solid var(--tuist-border-width-1) var(--tuist-color-neutral-300);
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: var(--tuist-border-radius-large);
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: var(--tuist-border-radius-large);
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: var(--tuist-border-radius-large);
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: var(--tuist-border-radius-large);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  align-self: stretch;
  font-weight: var(--tuist-font-weight-bold);
  font-size: var(--tuist-font-size-large);
  color: var(--text-on-color);
  padding-bottom: var(--tuist-spacing-x-large);
  padding-top: var(--tuist-spacing-large);
}

header > :nth-child(1) {
  margin-top: var(--tuist-spacing-small);
}

header > .subtitle {
  font-weight: var(--tuist-font-weight-normal);
  font-size: var(--tuist-font-size-medium);
  color: var(--text-inverse);
}

/**
 * Dropdown ([role="list"])
 */

 details[role=list],
 li[role=list] {
   position: relative;
 }

 details[role=list] summary + ul,
 li[role=list] > ul {
   display: flex;
   z-index: 99;
   position: absolute;
   top: auto;
   flex-direction: column;
   margin-top: var(--tuist-spacing-2x-small);
   border: var(--tuist-border-width-2) solid var(--tuist-color-neutral-300);
   border-radius: var(--tuist-border-radius-large);
   background-color: var(--tuist-color-background-surface);
   box-shadow: var(--tuist-shadow-xl);
   color: var(--text-inverse);
   white-space: nowrap;
   user-select: none;
 }

 details[role=list]:not([open]) > ul {
  display: none;
 }

 details[role=list] summary + ul li,
 li[role=list] > ul li {
   width: 100%;
   margin-bottom: 0;
   list-style: none;
   display: flex;
   align-items: stretch;
   flex-direction: column;
 }

 details[role=list] summary + ul li a,
 li[role=list] > ul li a {
   display: block;
   padding: var(--tuist-spacing-small);
   overflow: hidden;
   text-decoration: none;
   text-overflow: ellipsis;
   background-color: var(--tuist-color-neutral-100);
 }

 details[role=list] summary + ul li a:hover,
 li[role=list] > ul li a:hover {
   background-color: var(--tuist-color-neutral-300);
 }

 details[role=list] summary {
   user-select: none;
 }

 details[role=list] summary:not([role]) {
  background-image: var(--tuist-icon-chevron);
  background-position: center right .75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  line-height: var(--tuist-font-line-height-075);
  font-size: var(--tuist-font-size-small);
  background-color: var(--tuist-color-neutral-200);
  color: var(--text-inverse);
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding: var(--tuist-spacing-small) var(--tuist-spacing-2x-large) var(--tuist-spacing-small) var(--tuist-spacing-medium);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--tuist-border-radius-large);
  display: inline-flex;
  align-items: center;
 }

 details[role=list] summary:not([role]):hover {
   background-color: var(--tuist-color-neutral-300);
 }

 details[role=list] summary:not([role]):active, details[role=list] summary:not([role]):active {
  background-color: var(--tuist-color-neutral-400);
}

/* Divider */
hr {
  padding: 0;
  margin: 0;
  height: var(--tuist-border-width-2);
  border: none;
  background-color: var(--tuist-color-neutral-300);
  width: 100%;
}

/* Badge */

p.badge {
  padding: var(--tuist-spacing-x-small) var(--tuist-spacing-small);
  background-color: var(--tuist-color-neutral-200);
}

p.badge.critical {
  background-color: var(--tuist-color-background-critical-strong);
  color: var(--text-on-color);
}
