.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--tuist-spacing-5x-large);
}

.logo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--tuist-spacing-2x-small);
  font-size: var(--tuist-font-size-large);
}

.error-title {
  text-align: center;
  margin-top: var(--tuist-spacing-medium);
}

.error-message {
  text-align: center;
  margin-top: var(--tuist-spacing-2x-small);
  color: var(--text-on-color);
}
