.signout-button {
  position: absolute;
  top: 10px;
  right: 0;
}

.content-container {
  max-width: 72rem;
  margin: 0 auto 5rem auto;
}

.organization-name {
  flex-grow: 0;
  padding: 1rem;
}

.billing-form {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
}

.billing-button {
  padding: 1rem;
  color: var(--text-interactive);
  flex-grow: 0;
}

.billing-button:hover {
  color: var(--text-interactive-active);
}

code {
  white-space: pre-wrap;
}

.badge {
  display: inline-block;
  padding: var(--tuist-spacing-4x-small) var(--tuist-spacing-medium);
  background-color: var(--tuist-color-background-interactive);
  color: var(--text-on-color);
  border-radius: var(--tuist-spacing-medium);
  font-size: var(--tuist-font-size-small);
  font-weight: var(--tuist-font-weight-semibold);
}

.badge.critical {
  background-color: var(--tuist-color-background-critical-strong);
}

.members-count {
  display: flex;
  flex-direction: row;
  padding: var(--tuist-spacing-none) var(--tuist-spacing-medium);
  align-items: center;
}

.members-count p {
  font-size: var(--tuist-font-size-large);
  font-weight: var(--tuist-font-weight-normal);
  padding-left: var(--tuist-spacing-x-small);
}
