.signout-button {
  position: absolute;
  top: 10px;
  right: 0;
}

.content-container {
  max-width: 72rem;
  margin: 0 auto 5rem auto;
}

:root {
  --text-interactive: rgb(129 140 248);
  --text-interactive-active: rgb(99 102 241);
}

.organization-name {
  flex-grow: 1;
  padding: 1rem;
}

.billing-button {
  padding: 1rem;
  color: var(--text-interactive);
}

.billing-button:hover {
  color: var(--text-interactive-active);
}

code {
  white-space: pre-wrap;
}
