.marketing__component__link {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }

  &[data-flavor="primary"] {
    color: var(--violet);

    &:hover {
      color: var(--medium-violet);
    }
  }
  &[data-flavor="secondary"] {
    color: var(--dark-violet);

    &:hover {
      color: var(--medium-violet);
    }
  }
}

.marketing__component__primary__icon__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--violet);
  color: white;
  padding: var(--spacing-8);
  border-radius: var(--radius-full);

  &:hover {
    background: linear-gradient(rgba(44, 34, 80, 0.4), rgba(44, 34, 80, 0.4)),
      var(--violet);
  }
}

.marketing__component__primary__button {
  text-decoration: none;
  background: var(--violet);
  color: var(--white);
  border-radius: var(--radius-xs);
  padding: var(--radius-m) var(--radius-l);
  cursor: pointer;

  &:hover {
    background: linear-gradient(rgba(44, 34, 80, 0.4), rgba(44, 34, 80, 0.4)),
      var(--violet);
  }

  &[data-size="small"] {
    padding: var(--spacing-8) var(--spacing-16);
    border-radius: var(--spacing-4);
  }
  &[data-size="medium"] {
    padding: var(--spacing-16) var(--spacing-24);
    border-radius: var(--spacing-8);
  }
  &[data-size="big"] {
    padding: var(--spacing-24) var(--spacing-24);
    border-radius: var(--spacing-8);
  }
}

.marketing__component__secondary__button {
  cursor: pointer;
  text-decoration: none;

  &[data-size="small"] {
    padding: var(--spacing-8) var(--spacing-16);
    border-radius: var(--spacing-4);
  }
  &[data-size="medium"] {
    padding: var(--spacing-16) var(--spacing-24);
    border-radius: var(--spacing-8);
  }
  &[data-size="big"] {
    padding: var(--spacing-24) var(--spacing-24);
    border-radius: var(--spacing-8);
  }
  &[data-variant="dark"] {
    color: var(--white);
    border-width: 2px;
    border-color: var(--white);
    border-style: solid;

    &:hover {
      border-color: var(--gray-violet);
      background-color: rgba(var(--gray-violet), 0.05);
    }
  }
  &[data-variant="light"] {
    color: var(--dark-violet);
    border-width: 2px;
    border-color: var(--dark-violet);
    border-style: solid;
    &:hover {
      border-color: var(--dark-violet);
      background-color: var(--light-gray-violet);
    }
  }
}
