.marketing__header {
  position: relative;
  background: var(--white);
}

.marketing__headerbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-16) var(--spacing-72);
  justify-content: space-between;
}

.marketing__headerbar__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.marketing__headerbar__title__logo {
  width: 44px;
  height: 44px;
}

.marketing__headerbar__title__text {
  font-family: var(--font-grotesk);
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: var(--dark-violet);

  & > a {
    text-decoration: none;

    &:visited {
      color: var(--dark-violet);
    }
  }
}

.marketing__headerbar__links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.marketing__headerbar__links__link {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark-violet);
  gap: var(--spacing-4);

  &:hover {
    cursor: pointer;
    color: var(--violet);
  }

  &[aria-expanded="true"] {
    color: var(--violet);
  }
}

.marketing__headerbar__links__link__close_icon {
  display: none;
}

.marketing__headerbar__app-lifecycle {
  display: none;
  position: absolute;
  max-width: 100%;
  padding: var(--spacing-48) 80px;
  background: var(--white);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  column-gap: var(--spacing-48);
  row-gap: var(--spacing-32);
}

.marketing__headerbar__app-lifecycle__phase {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.marketing__headerbar__app-lifecycle__phase__title {
  margin: 0px 0px;
  color: var(--medium-violet);
  cursor: pointer;
  &:hover {
    color: var(--violet);
    text-decoration: underline;
  }
}

.marketing__headerbar__app-lifecycle__phase__description {
  margin: 0px 0px;
  color: var(--medium-violet);
}

.marketing__footer {
  background: var(--medium-violet);
  padding: var(--spacing-72);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.marketing__footer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.marketing__footer__header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.marketing__footer__header__title__logo {
  width: var(--spacing-32);
}

.marketing__footer__header__title__text {
  color: var(--white);
}

.marketing__footer__header__status {
  border-color: var(--light-violet);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-full);
  padding: var(--spacing-8) var(--spacing-16);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
}

.marketing__footer__header__status__indicator {
  background: var(--lime);
  height: 1rem;
  width: 1rem;
  border-radius: var(--radius-full);
}

.marketing__footer__header__status__text {
  color: var(--white);
}

.marketing__footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.marketing__footer__main__menus {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  gap: var(--spacing-48);
}

.marketing__footer__main__menus__menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  &:first-child {
    margin-bottom: var(--spacing-16);
  }
}

.marketing__footer__main__menus__menu_title {
  color: var(--white);
  padding: 0;
  margin-top: 0;
}

.marketing__footer__main__menus__menu_link {
  color: var(--white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.marketing__footer__main__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-24);
}

.marketing__footer__main__links__title {
  color: var(--white);
  padding: 0;
  margin: 0;
}

.marketing__footer__main__links__social {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);
}

.marketing__footer__main__links__social__logo {
  color: var(--light-violet);
}

.marketing__footer__main__links__newsletter {
  color: var(--white);
  border-color: var(--white);
  border-style: solid;
  border-width: 1px;
  padding: var(--spacing-8) var(--spacing-16);
  border-radius: var(--spacing-4);
}

.marketing__footer__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--spacing-16);
  color: var(--light-violet);
}

.marketing__footer__footer__link {
  color: var(--light-violet);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--light-violet);
  }
}
