@import "./css/tokens.css";
@import "./css/utilities.css";
@import "./css/layouts.css";
@import "./css/components.css";
@import "./css/components/previews/app_preview.css";
@import "./css/pages.css";

body {
  margin: 0;
}

html:not(:has([data-theme])) {
  @media (prefers-color-scheme: dark) {
    & img[data-theme="light"] {
      display: none;
    }
  }

  @media (prefers-color-scheme: light) {
    & img[data-theme="dark"] {
      display: none;
    }
  }
}

body:not(html[data-noora] body) {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: "Inter", sans-serif;
}

/* Display 2xl */

h1:not(html[data-noora] h1) {
  margin: 0;
  color: var(--text-primary);
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing: -0.02em;
}

/* Display xl */
h2:not(html[data-noora] h2) {
  margin: 0;
  color: var(--text-primary);
  font-size: 3.75rem;
  line-height: 4.5rem;
  letter-spacing: -0.02em;
}

/* Display lg */
h3:not(html[data-noora] h3) {
  margin: 0;
  color: var(--text-primary);
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
}

/* Display md */
h4:not(html[data-noora] h4) {
  margin: 0;
  color: var(--text-primary);
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
}

/* Display sm */
h5:not(html[data-noora] h5) {
  margin: 0;
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Display xs */
h6:not(html[data-noora] h6) {
  margin: 0;
  color: var(--text-primary);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

p {
  margin: unset;
}

a {
  outline: unset;
}

a:not(html[data-noora] a) {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  color: var(--text-secondary);
  text-decoration: none;

  & svg {
    stroke: var(--text-secondary);
  }
}

p:not(html[data-noora] p) {
  color: var(--text-secondary);
}
/* Buttons */

button:not(html[data-noora] button) {
  display: inline-flex;
  align-items: center;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: var(--timing-function-base);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--radius-sm);
  padding: var(--spacing-md) var(--spacing-lg);

  & span {
    width: 100%;
  }
}

button:not(html[data-noora] button) svg {
  transition-duration: 0.15s;
  transition-property: stroke;
  transition-timing-function: var(--timing-function-base);
}

.button--medium {
  gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
}

.button--small {
  gap: var(--spacing-xs);
  padding: var(--spacing-md) var(--spacing-lg);
}

.button--primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-fg);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg-disabled);
    color: var(--fg-disabled);

    & svg {
      stroke: var(--fg-disabled);
    }
  }

  &:hover:enabled {
    background-color: var(--button-primary-bg-hover);
    color: var(--button-primary-fg-hover);
  }
}

.button--secondary {
  justify-content: center;
  border: 1px solid var(--button-secondary-border);
  border-radius: var(--radius-md);
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);

  &:hover:enabled {
    border-color: var(--button-secondary-border-hover);
    background-color: var(--button-secondary-bg-hover);
    color: var(--button-secondary-fg-hover);

    & svg {
      stroke: var(--button-secondary-fg-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg-primary);
    color: var(--fg-disabled);

    & svg {
      stroke: var(--fg-disabled);
    }
  }

  & svg {
    stroke: var(--button-secondary-fg);
    width: 20px;
    height: 20px;
  }
}

.button--tertiary svg {
  stroke: var(--button-tertiary-fg);
}

.button--tertiary:hover svg {
  stroke: var(--button-tertiary-fg-hover);
}

.button--small.button--icon-only {
  background-color: transparent;
  padding: var(--spacing-sm);
}

.button--tertiary.button--icon-only svg {
  width: 20px;
  height: 20px;
}

.button--tertiary:hover {
  background-color: var(--button-tertiary-bg-hover);
}

.social-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-primary);

  &:hover {
    background-color: var(--bg-primary-hover);
  }

  &:focus {
    background-color: var(--bg-primary);
    /* TODO: Add focus ring (gray-400, opacity 14 %, spread 4 */
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  & span {
    color: var(--text-secondary);
  }
}

/* Icons */

svg {
  flex-shrink: 0;
}

.icon__check svg {
  stroke: var(--fg-primary-brand);
}

.featured-icon {
  display: flex;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-xl);
  background-color: var(--bg-primary);
  padding: var(--spacing-lg);

  & svg {
    stroke: var(--fg-secondary);
  }
}

/* Loader */

.loader {
  display: inline-block;
  animation: rotation 1s linear infinite;
  box-sizing: border-box;
  border: 3px solid var(--fg-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-button {
  width: 100%;
}

.dropdown-menu[hidden] {
  display: none;
}

.dropdown-menu {
  position: absolute;
  gap: 0;
  z-index: 10;
  margin-top: var(--spacing-md);
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-md);
  background-color: var(--bg-primary);
  overflow: hidden;

  & a {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    transition-duration: 0.15s;
    transition-property: color, background-color;
    transition-timing-function: var(--timing-function-base);
    cursor: pointer;
    border-right: 1px solid var(--border-secondary);
    border-left: 1px solid var(--border-secondary);
    border-width: 0;
    background-color: transparent;
    padding: var(--spacing-lg) var(--spacing-lg);
  }
}

.dropdown-menu-top {
  bottom: 100%;
}

.dropdown-menu-bottom {
  top: 0;
}

.dropdown-menu-right {
  left: 0;
}

.dropdown-menu-left {
  right: 0;
}

.dropdown-menu svg {
  stroke: var(--fg-quaternary);
}

/* Button group */

.button-group {
  display: flex;
  & button {
    border: 1px solid var(--border-primary);
    border-radius: 0;
    background-color: var(--bg-primary);
    padding: var(--spacing-md) var(--spacing-xl);
    color: var(--text-secondary);
  }

  & button:hover {
    background-color: var(--bg-primary-hover);
    color: var(--text-secondary-hover);
  }

  & button:first-child {
    border-radius: var(--radius-md) 0 0 var(--radius-md);
  }

  & button:not(:last-child) {
    border-right: 0;
  }

  & button:last-child {
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
  }

  & .button-group__button--selected {
    background-color: var(--bg-active);
  }
}

/* Input */

html:not([data-noora]) {
  input {
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-sm);
    background-color: var(--bg-primary);
    padding: var(--spacing-md) var(--spacing-lg);
    color: var(--text-primary);
    caret-color: var(--text-primary);
  }

  input::placeholder {
    color: var(--text-placeholder);
  }

  input:focus {
    border-color: var(--border-brand);
  }

  input:focus {
    outline: 4px solid rgba(158, 119, 237, 0.2);
  }

  input[type="radio"] {
    appearance: none;
    margin: 0;
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-full);
    background-color: var(--bg-primary);
    padding: 0;
    width: 16px;
    height: 16px;

    &:focus {
      outline: 4px solid rgba(51, 55, 65, 0.2);
    }

    &:checked {
      border: 5px solid var(--bg-brand-solid);
      background-color: var(--fg-primary);
    }
  }
}

.radio-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.radio-container__label {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-xs);
  background-color: var(--bg-primary);
  padding: 0;
  width: 18px;
  height: 18px;

  &:focus {
    outline: 4px solid rgba(51, 55, 65, 0.2);
  }

  &:checked {
    background-color: var(--bg-brand-solid);
  }

  &:checked:after {
    display: block;
    position: relative;
    top: 2px;
    left: 2px;
    background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 3L4.5 8.5L2 6" stroke="white" stroke-width="1.6666" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 12px;
    height: 12px;
    content: "";
  }
}

.input--error {
  border: 1px solid var(--border-error);
}

.checkbox-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.checkbox-container__label {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

/* Badge */

.badge {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border-radius: var(--radius-full);
  padding: var(--spacing-xxs) var(--spacing-md);

  & svg {
    width: 16px;
    height: 16px;
  }
}

.badge-group {
  margin: 0;
  border-radius: var(--radius-full);
  padding: 0;

  & svg {
    stroke: var(--utility-error-500);
    padding-right: var(--spacing-md);
    width: 16px;
    height: 16px;
  }

  & span {
    width: auto;
  }
}

.badge--warning {
  border: 1px solid var(--utility-warning-200);
  background-color: var(--utility-warning-50);

  & svg {
    stroke: var(--utility-warning-500);
  }

  & .badge__text {
    color: var(--utility-warning-700);
  }
}

.badge--brand {
  border: 1px solid var(--utility-brand-200);
  background-color: var(--utility-brand-50);

  & svg {
    stroke: var(--utility-brand-500);
  }

  & .badge__text {
    color: var(--utility-brand-700);
  }
}

.badge--brand_subtle {
  border: 1px solid var(--utility-brand-200);
  background-color: var(--utility-brand-100);

  & .badge__text {
    color: var(--utility-brand-700);
  }
}

.badge--neutral {
  border: 1px solid var(--utility-gray-200);
  background-color: var(--utility-gray-50);

  & svg {
    stroke: var(--utility-gray-500);
  }

  & .badge__text {
    color: var(--utility-gray-700);
  }
}

.badge--success {
  border: 1px solid var(--utility-success-200);
  background-color: var(--utility-success-50);

  & svg {
    stroke: var(--utility-success-500);
  }

  & .badge__text {
    color: var(--utility-success-700);
  }
}

.badge--success {
  border: 1px solid var(--utility-success-200);
  background-color: var(--utility-success-50);

  & svg {
    stroke: var(--utility-success-500);
  }

  & .badge__text {
    color: var(--utility-success-700);
  }
}

.badge--error {
  border: 1px solid var(--utility-error-200);
  background-color: var(--utility-error-50);

  & svg {
    stroke: var(--utility-error-500);
  }

  &.badge-group:hover {
    background-color: var(--utility-error-100);
  }

  & .badge__type {
    border: 1px solid var(--utility-error-200);
    color: var(--utility-error-700);
  }

  & .badge__text {
    color: var(--utility-error-700);
  }
}

.badge--info {
  border: 1px solid var(--utility-gray-200);
  background-color: var(--bg-primary);

  & svg {
    stroke: var(--utility-gray-500);
  }

  &:hover {
    background-color: var(--utility-gray-100);
  }

  & .badge__type {
    border: 1px solid var(--utility-gray-200);
    color: var(--utility-gray-700);
  }

  & .badge__text {
    color: var(--utility-gray-700);
  }
}

.badge__type {
  margin: var(--spacing-xs);
  border-radius: var(--radius-full);
  background-color: var(--bg-primary);
  padding: var(--spacing-xxs) var(--spacing-md);
}

.badge__text {
  flex-grow: 1;
}

/* Flash group */

.flash-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */

.card {
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-xl);
  background-color: var(--bg-primary);
  padding: var(--spacing-3xl);
}

/* Spacer */

.spacer {
  flex-grow: 1;
}

/* Table */

.table-container {
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-xl);
  overflow-x: scroll;
}

.table-container__footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-none);
  border-top: 1px solid var(--border-secondary);
  padding: var(--spacing-xl);
}

.table-container__empty-state {
  align-items: center;
  padding: var(--spacing-5xl);

  & p {
    text-align: center;
  }
}

.table-container__empty-state__labels {
  align-items: center;
}

table:not(html[data-noora] table) {
  border-spacing: 0;
  width: 100%;

  & th {
    background-color: var(--bg-secondary);
    padding: var(--spacing-lg) var(--spacing-3xl);
    color: var(--text-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-small);
    line-height: var(--line-height-text-small);
    text-align: start;
  }

  & td {
    border-top: 1px solid var(--border-secondary);
    padding: var(--spacing-lg) 0;
    color: var(--text-primary);
  }

  & tbody {
    & .clickable:hover {
      background-color: var(--bg-primary-hover);
    }
  }
}

.table-container__data-container {
  padding: var(--spacing-lg) var(--spacing-3xl);
}

/* Pagination */

.tuist-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--noora-spacing-4);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);

  & a:hover {
    background-color: unset;
  }

  & .pagination-link:first-child {
    & button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & .pagination-link:last-child {
    & button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/* Clickable */

.clickable {
  &:hover {
    cursor: pointer;
  }
}

/* Page */

.page {
  flex-grow: 999;
  flex-basis: 0;
  min-inline-size: 50%;
}

/* Modal */

.modal {
  display: none;
  position: relative;
  z-index: 50;
}

.modal__background {
  position: fixed;
  opacity: 0.9;
  filter: blur(4px);
  transition-duration: 150ms;

  transition-property: opacity;
  transition-timing-function: var(--timing-function-base);
  inset: 0px;
  /* bg-zinc-50/90 */
  /* background-color: red; */
  background-color: var(--bg-overlay);
}

.modal__dialog {
  display: flex;
  /* fixed inset-0 overflow-y-auto */
  position: fixed;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.modal__dialog__container {
  display: none;
  position: relative;
  transition-duration: 150ms;
  transition-property: opacity;
  transition-timing-function: var(--timing-function-base);
  border: 1px solid var(--border-secondary);
  border-radius: var(--radius-lg);
  background-color: var(--bg-primary);

  padding: var(--spacing-3xl);
}

.modal__dialog__container__content {
  max-width: 600px;
}

.modal__dialog__container__close-button {
  position: absolute;
  top: var(--spacing-xl);
  right: var(--spacing-xl);
}

/* Progress bar */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: var(--radius-md);
  background-color: var(--bg-quaternary);
  height: 8px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--bg-quaternary);
}

progress::-webkit-progress-bar {
  border-radius: var(--radius-md);
}

progress::-webkit-progress-value {
  border-radius: var(--radius-md);
  background: var(--fg-primary-brand);
}

progress[value]::-moz-progress-bar {
  background: var(--fg-primary-brand);
}

/* Switch */

.switch {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-radius: var(--radius-full);
  background-color: var(--bg-tertiary);
}

.slider:before {
  position: absolute;
  bottom: var(--spacing-xxs);
  left: var(--spacing-xxs);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: var(--radius-full);
  background-color: var(--fg-white);
  width: 16px;
  height: 16px;
  content: "";
}

input:checked + .slider {
  background-color: var(--bg-brand-solid);
}

input:checked:hover + .slider {
  background-color: var(--bg-brand-solid-hover);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Noora components */

.tuist-widget-link {
  text-decoration: unset;

  & .tuist-widget:hover {
    background-color: var(--noora-surface-background-secondary);
  }

  &[data-selected] .tuist-widget {
    box-shadow: var(--noora-border-light-focus);
  }
}

.tuist-widget {
  position: relative;
  gap: var(--noora-spacing-5);

  & [data-part="background"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--noora-z-index-1);

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  & [data-part="empty-label"] {
    align-self: center;
    padding-top: var(--noora-spacing-5);
    padding-bottom: 30px;
    color: var(--noora-surface-label-secondary);
    font: var(--noora-font-weight-medium) var(--noora-font-body-large);
  }

  & > [data-part="header"] {
    display: flex;
    flex-direction: row;
    & > [data-part="title"] {
      flex-grow: 1;
      color: var(--noora-surface-label-secondary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-small);
    }
  }

  & .noora-tooltip {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: var(--noora-surface-label-secondary);

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  & [data-part="value"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-heading-xlarge);
  }

  & [data-part="trend"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--noora-spacing-3);

    & [data-part="label"] {
      font: var(--noora-font-weight-regular) var(--noora-font-body-small);
    }
  }
}

.tuist-legend {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-5);
  padding-bottom: var(--noora-spacing-7);

  & > [data-part="header"] {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--noora-spacing-3);

    & [data-part="indicator"] {
      border-radius: var(--noora-radius-xsmall);
      background-color: var(--indicator-color);
      width: 6px;
    }

    & > [data-part="title"] {
      color: var(--noora-surface-label-secondary);
      font: var(--noora-font-weight-medium) var(--noora-font-body-small);
    }
  }

  & > [data-part="value"] {
    color: var(--noora-surface-label-primary);
    font: var(--noora-font-weight-medium) var(--noora-font-heading-large);
  }

  &[data-style="primary"] {
    --indicator-color: var(--noora-chart-legend-primary);
  }

  &[data-style="secondary"] {
    --indicator-color: var(--noora-chart-legend-secondary);
  }

  &[data-style="destructive"] {
    --indicator-color: var(--noora-chart-destructive);
  }
}
