@import "noora/noora.css";
@import "css/shared/tokens.css";
@import "css/routes/home.css";
@import "css/routes/about.css";
@import "css/layouts/components/navbar.css";
@import "css/layouts/components/footer.css";
@import "css/layouts/components/banner.css";

:root {
  color-scheme: light;
}
body {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-11);
  box-sizing: border-box;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: var(--noora-surface-background-primary);
  padding: 0px;
  font-family: var(--noora-font-body);
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
