@import './navigation_bar.css';

 :root {  
  /* Colors */

  --white: #FFFFFF;
  --black: #000000;

  --gray-25: #FAFAFA;
  --gray-50: #F5F5F6;
  --gray-100: #F0F1F1;
  --gray-200: #ECECED;
  --gray-300: #CECFD2;
  --gray-400: #94969C;
  --gray-500: #85888E;
  --gray-600: #61646C;
  --gray-700: #333741;
  --gray-800: #1F242F;
  --gray-900: #161B26;
  --gray-950: #0C111D;

  --brand-25: #FCFAFF;
  --brand-50: #F9F5FF;
  --brand-100: #F4EBFF;
  --brand-200: #E9D7FE;
  --brand-300: #D6BBFB;
  --brand-400: #B692F6;
  --brand-500: #9E77ED;
  --brand-600: #7F56D9;
  --brand-700: #6941C6;
  --brand-800: #6941C6;
  --brand-900: #42307D;
  --brand-950: #2C1C5F;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --success-400: #47CD89;
  --success-500: #17B26A;

  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-300);
  --text-secondary-hover: var(--gray-200);
  --text-tertiary: var(--gray-400);
  --text-success-primary: var(--success-400);

  /* Foreground color */
  --fg-primary: var(--white);
  --fg-secondary: var(--gray-300);
  --fg-suceess-primary: var(--success-500);
  --fg-success-secondary: var(--success-400);
  --fg-quaternary: var(--gray-400);

  /* Background color */

  --bg-primary: var(--gray-950);
  --bg-primary-hover: var(--gray-800);
  --bg-active: var(--gray-800);

  /* Border color */

  --border-primary: var(--gray-700);
  --border-secondary: var(--gray-800);
  --border-tertiary: var(--gray-800);

  /* Button color */
  --button-secondary-bg: var(--gray-900);
  --button-secondary-bg-hover: var(--gray-800);
  --button-secondary-fg: var(--gray-300);
  --button-secondary-fg-hover: var(--gray-100);
  --button-secondary-border: var(--gray-700);
  --button-secondary-border-hover: var(--gray-700);
  --button-tertiary-fg: var(--gray-400);
  --button-tertiary-fg-hover: var(--gray-100);
  --button-tertiary-bg-hover: var(--gray-800);

  /* Utility color */
  --utility-brand-600: var(--brand-600);

  /* Spacing */

  --spacing-none: 0rem;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.375rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.25rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.5rem;
  --spacing-6xl: 3rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 5rem;
  --spacing-9xl: 6rem;
  --spacing-10xl: 8rem;
  --spacing-11xl: 10rem;

  /* Radius */
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
}

.button--medium {
  padding: var(--spacing-md) var(--spacing-lg);
  gap: var(--spacing-xs);
}

.button--secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
  justify-content: center;
  border: 1px solid var(--button-secondary-border);
}

.button--secondary svg {
  stroke: var(--button-secondary-fg);
  height: 20px;
  width: 20px;
}

.button--secondary:hover {
  color: var(--button-secondary-fg-hover);
  background-color: var(--button-secondary-bg-hover);
  border-color: var(--button-secondary-border-hover);
}

.button--secondary:hover svg {
  stroke: var(--button-secondary-fg-hover);
}

.button--tertiary svg {
  stroke: var(--button-tertiary-fg);
}

.button--tertiary:hover svg {
  stroke: var(--button-tertiary-fg-hover);
}

.button--sm.button--icon-only {
  padding: var(--spacing-sm);
  background-color: transparent;
}

.button--tertiary.button--icon-only svg {
  width: 20px;
  height: 20px;
}

.button--tertiary:hover {
  background-color: var(--button-tertiary-bg-hover);
}

/* Color utility classes */

.color--text-primary {
  color: var(--text-primary);
}

.color--text-secondary {
  color: var(--text-secondary);
}

.color--text-tertiary {
  color: var(--text-tertiary);
}

.color--text-success-primary {
  color: var(--text-success-primary);
}

/* Fonts */

.font--regular {
  font-weight: 400;
}

.font--medium {
  font-weight: 500;
}

.font--semibold {
  font-weight: 600;
}

.font--bold {
  font-weight: 700;
}

/* Display 2xl */

h1 {
  margin: 0;
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display xl */
h2 {
  margin: 0;
  font-size: 3.75rem;
  line-height: 4.5rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display lg */
h3 {
  margin: 0;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display md */
h4 {
  margin: 0;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

/* Display sm */
h5 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
}

/* Display xs */
h6 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-primary);
}

p {
  margin: 0;
  display: flex;
}

.text--extraLarge {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.text--large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text--medium {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text--small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text--extraSmall {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  display: flex;
  padding: 0;
}

p {
  color: var(--text-secondary);
}
/* Buttons */

button {
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding: var(--spacing-md) var(--spacing-lg);
  cursor: pointer;
  border-width: 0;
  border-radius: var(--radius-sm);
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: var(--tuist-color-neutral-300);
    color: var(--text-on-color);
  }
}

button svg {
  transition-property: stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

button.ghost {
  background-color: transparent;
}

button.ghost:hover {
  background-color: var(--tuist-color-neutral-300);
}

/* Stack */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 0;
  background-color: var(--bg-primary);

  & a:first-child {
    border-left: 1px solid var(--border-secondary);
    border-right: 1px solid var(--border-secondary);
    border-top: 1px solid var(--border-secondary);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }

  & a:last-child {
    border-left: 1px solid var(--border-secondary);
    border-right: 1px solid var(--border-secondary);
    border-bottom: 1px solid var(--border-secondary);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }

  & a {
    border-left: 1px solid var(--border-secondary);
    border-right: 1px solid var(--border-secondary);
    padding: var(--spacing-lg) var(--spacing-lg);
    background-color: transparent;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    cursor: pointer;
    border-width: 0;
    border-radius: var(--radius-sm);
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
  }
}

.dropdown-menu svg {
  stroke: var(--fg-quaternary);
}

