nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: var(--spacing-4xl) var(--spacing-3xl);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: var(--border-secondary);
  width: 195px;
}

.nav-logo {
  flex-direction: row;
  gap: var(--spacing-lg);
  display: flex;
  align-items: center;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.sidebar__navigation-list a {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: transparent;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  cursor: pointer;
  border-width: 0;
  border-radius: var(--radius-sm);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.sidebar__navigation-list a svg {
  padding: 0 var(--spacing-lg) 0 0;
  height: 24px;
  width: 24px;
  stroke: var(--gray-400);
}

.sidebar__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--spacing-3xl);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--border-secondary);
}

.sidebar__footer__user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

.sidebar__footer__user-info__signout-button {
  display: flex;
}


nav a,
p {
  color: var(--text-secondary);
  text-decoration: none;
  margin-top: var(--spacing-xxs);
}

nav a:hover {
  background-color: var(--bg-active);
  color: var(--text-secondary-hover);
}

nav a:hover p {
  color: var(--text-secondary-hover);
}

nav a:hover svg {
  stroke: #ececed;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  flex-grow: 100;
}

footer .user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
