.marketing__newsletter {
  position: relative;
  padding: var(--spacing-96);

  @media (max-width: 1024px) {
    padding: var(--spacing-48);
  }
}

.marketing__newsletter__title {
  margin: 0;
  color: var(--dark-violet);
  font: var(--font-xxxl-strong);
}

.marketing__newsletter__description {
  font: var(--font-m);
  color: var(--dark-violet);
}

.marketing__newsletter__subscribe__title {
  font: var(--font-xxl-strong);
  color: var(--violet);
  margin: var(--spacing-48) 0 var(--spacing-16) 0;
}

.marketing__newsletter__subscribe__title__form {
  & * + * {
    margin-top: var(--spacing-24);
  }
}

.marketing__newsletter__subscribe__title__form__description {
  font: var(--font-m);
  color: var(--dark-violet);
}

.marketing__newsletter__subscribe__title__form__field {
  border: initial;
  background: var(--light-gray-violet);
  padding: var(--spacing-8);
  font: var(--font-m);
  color: var(--violet);
  border-radius: var(--radius-m);

  &:focus {
    outline: var(--violet) 2px solid;
  }
}
