.marketing__component__cookies {
  display: none;
  flex-direction: row;
  align-items: center;
  background: var(--light-gray-violet);
  position: fixed;
  bottom: var(--spacing-24);
  gap: var(--spacing-24);
  padding: var(--spacing-32);
  border-radius: var(--radius-xl);
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1024px) {
    width: auto;
    padding: var(--spacing-24);
    left: var(--spacing-16);
    right: var(--spacing-16);
    bottom: var(--spacing-16);
    transform: none;
  }
}

.marketing__component__cookies__logo {
  font: var(--font-xxl);
}

.marketing__component__cookies__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-24);

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.marketing__component__cookies__content__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.marketing__component__cookies__content__body__title {
  font: var(--font-l-strong);
  color: var(--medium-violet);
  margin: 0;
}

.marketing__component__cookies__content__body__description {
  font: var(--font-l);
  color: var(--medium-violet);
  margin: 0;

  & a {
    color: var(--medium-violet);
    font: var(--font-l-strong);
  }
}

.marketing__component__cookies__content__button {
  @media (max-width: 1024px) {
    align-self: flex-start;
  }
}
