name: Cache

on:
  push:
    branches:
      - main
    paths:
      - cache/**
      - .github/workflows/cache.yml
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - cache/**
      - .github/workflows/cache.yml
  merge_group: {}

permissions:
  contents: read

concurrency:
  group: cache-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: cache

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MISE_SOPS_AGE_KEY: ${{ secrets.MISE_SOPS_AGE_KEY }}

jobs:
  format:
    name: Format
    runs-on: namespace-profile-default
    steps:
      - uses: actions/checkout@v4
      - name: Restore Mix Cache
        uses: actions/cache@v4
        with:
          path: |
            cache/deps
            cache/_build
          key: cache-mix-${{ hashFiles('cache/mix.lock') }}
      - uses: jdx/mise-action@v3.2.0
        with:
          cache_key: "{{default}}-{{env.NSC_BASE_IMAGE_REF_ID}}"
          working_directory: cache
      - name: Install dependencies
        run: mise run install
      - name: Check format
        run: mise run format --check

  credo:
    name: Credo
    runs-on: namespace-profile-default
    if: github.event.pull_request.draft == false || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - name: Restore Mix Cache
        uses: actions/cache@v4
        with:
          path: |
            cache/deps
            cache/_build
          key: cache-mix-${{ hashFiles('cache/mix.lock') }}
      - uses: jdx/mise-action@v3.2.0
        with:
          cache_key: "{{default}}-{{env.NSC_BASE_IMAGE_REF_ID}}"
          working_directory: cache
      - name: Install dependencies
        run: mise run install
      - name: Run Credo
        run: mise run credo

  test:
    name: Test
    runs-on: namespace-profile-default
    if: github.event.pull_request.draft == false || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - name: Restore Mix Cache
        uses: actions/cache@v4
        with:
          path: |
            cache/deps
            cache/_build
          key: cache-mix-${{ hashFiles('cache/mix.lock') }}
      - uses: jdx/mise-action@v3.2.0
        with:
          cache_key: "{{default}}-{{env.NSC_BASE_IMAGE_REF_ID}}"
          working_directory: cache
      - name: Install dependencies
        run: mise run install
      - name: Run tests
        run: mise run test
