# https://help.github.com/en/github/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#jobsjob_idname
name: Checks

# This workflow only runs when there are changes to the Swift code.
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - Tuist/Dependencies/Lockfiles/Package.resolved
      - Package.resolved
      - Sources/**
      - Tests/**
      - projects/fixturegen/**
      - projects/tuistbench/**
      - projects/fourier/**
      - .github/workflows/checks.yml

concurrency:
  group: checks-${{ github.head_ref }}
  cancel-in-progress: true

env:
  RUBY_VERSION: '3.0.1'

jobs:
  format:
    name: Format code with Xcode ${{ matrix.xcode }}
    runs-on: macOS-11
    strategy:
      matrix:
        xcode: ['12.5.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Run swiftformat
        run: ./fourier format swift
  lint:
    name: Lint code with Xcode ${{ matrix.xcode }}
    runs-on: macOS-11
    strategy:
      matrix:
        xcode: ['12.5.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Install Bundler dependencies
        run: bundle install
      - name: Run
        run: ./fourier lint all
  lint_lockfiles:
    name: Lint lockfiles
    runs-on: macOS-11
    strategy:
      matrix:
        xcode: ['12.5.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Install Bundler dependencies
        run: bundle install
      - name: Run
        run: ./fourier lint lockfiles
