name: CLI Linux

on:
  push:
    branches:
      - main
    paths:
      - "cli/Sources/**"
      - "*.swift"
      - ".github/workflows/cli-linux.yml"
      - "Package.swift"
      - "Package.resolved"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "cli/Sources/**"
      - "*.swift"
      - ".github/workflows/cli-linux.yml"
      - "Package.swift"
      - "Package.resolved"

permissions:
  id-token: write
  contents: read

concurrency:
  group: cli-linux-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  cli-linux-build:
    name: Linux Build
    runs-on: ubuntu-latest
    container:
      image: swift:6.1
    timeout-minutes: 30
    if: github.event.pull_request.draft == false || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build/linux
          key: linux-cli-${{ hashFiles('Package.resolved') }}
      - name: Build ProjectDescription
        run: swift build --build-path .build/linux --target ProjectDescription
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build/linux
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
