name: CLI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "cli/TuistCacheEE"
      - "cli/TuistCacheEE/**"
      - "cli/Sources/**"
      - "cli/Tests/**"
      - "*.swift"
      - "Package.resolved"
      - ".github/workflows/cli.yml"
      - "mise/tasks/cli/lint.sh"
      - "mise.toml"
      - "cli/Fixtures/**"
      - "Tuist/**"

permissions:
  contents: read

env:
  TUIST_CONFIG_TOKEN: ${{ secrets.TUIST_CONFIG_TOKEN }}
  MISE_SOPS_AGE_KEY: ${{ secrets.MISE_SOPS_AGE_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: cli-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  cli-lint:
    name: Lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Lint
        run: mise run cli:lint
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-spm-build:
    name: SwiftPM Build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Build
        run: swift build --configuration debug
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-cache:
    name: Cache
    runs-on: macos-15
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Cache
        run: mise x -- tuist cache
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-unit-tests:
    name: Unit Tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Run tests
        run: mise x -- tuist test TuistUnitTests
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-automation-acceptance-tests:
    name: Automation Acceptance Tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Skip Xcode Macro Fingerprint Validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Skip Xcode Package Validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidation -bool YES
      - name: Run TuistAutomationAcceptanceTests
        run: mise x -- tuist test TuistAutomationAcceptanceTests
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-dependencies-acceptance-tests:
    name: Dependencies Acceptance Tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Skip Xcode Macro Fingerprint Validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Skip Xcode Package Validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidation -bool YES
      - name: Set up new keychain
        run: |
          TMP_DIRECTORY=$(mktemp -d)
          KEYCHAIN_PATH=$TMP_DIRECTORY/keychain.keychain
          KEYCHAIN_PASSWORD=$(uuidgen)
          security create-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security default-keychain -s $KEYCHAIN_PATH
          security unlock-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH
      - name: Run TuistDependenciesAcceptanceTests
        run: mise x -- tuist test TuistDependenciesAcceptanceTests
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-generator-acceptance-tests:
    name: Generator Acceptance Tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Skip Xcode Macro Fingerprint Validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Skip Xcode Package Validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidation -bool YES
      - name: Run TuistGeneratorAcceptanceTests
        run: mise x -- tuist test TuistGeneratorAcceptanceTests
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

  cli-kit-acceptance-tests:
    name: Kit Acceptance Tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-cli-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-cli-
      - uses: jdx/mise-action@v2
        with:
          version: 2025.7.0
          experimental: true
      - name: Skip Xcode Macro Fingerprint Validation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
      - name: Skip Xcode Package Validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidation -bool YES
      - name: Run TuistKitAcceptanceTests
        run: mise x -- tuist test TuistKitAcceptanceTests
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
