name: CocoaPods Interactor

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - projects/cocoapods-interactor/**
      - .github/workflows/cocoapods-interactor.yml
      - projects/fourier/**

concurrency:
  group: cocoapods-interactor-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.6.8', '2.7.4', '3.0.3']
    steps:
      - uses: actions/checkout@v1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install Bundler 2.1.4
        run: gem install bundler --version 2.1.4
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-${{ env.RUBY_VERSION }}-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.RUBY_VERSION }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Unit tests
        run: |
          ./fourier test cocoapods-interactor
  lint:
    name: Lint
    runs-on: macOS-11
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-${{ env.RUBY_VERSION }}${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.RUBY_VERSION }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Install Bundler dependencies
        run: bundle install
      - name: Run
        run: ./fourier lint cocoapods-interactor
