name: Documentation
on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - .github/workflows/docs.yml
      - cli/Sources/**
      - Package.swift
      - Package.resolved
      - mise/tasks/docs/**
      - docs/pnpm-lock.yaml
      - handbook/package.json
  pull_request:
    paths:
      - docs/**
      - .github/workflows/docs.yml
      - cli/Sources/**
      - Package.swift
      - Package.resolved
      - mise/tasks/docs/**
      - docs/pnpm-lock.yaml
      - handbook/package.json

permissions:
  contents: read

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TUIST_CONFIG_TOKEN: ${{ secrets.TUIST_CONFIG_TOKEN }}
  PNPM_HOME: ~/.pnpm

concurrency:
  group: docs-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-deploy:
    name: Build & Deploy
    runs-on: macos-16
    steps:
      - uses: actions/checkout@v4
      - name: Restore PNPM Cache
        uses: actions/cache@v3
        id: pnpm-cache
        with:
          path: |
            ~/.pnpm/store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$(cat .xcode-version).app
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: .build
          key: ${{ runner.os }}-docs-${{ hashFiles('./Package.resolved') }}
          restore-keys: ${{ runner.os }}-docs-
      - uses: jdx/mise-action@v2
        with:
          working-directory: docs
      - name: Generate CLI docs
        working-directory: docs
        run: mise run generate-cli-docs
      - name: Generate manifest docs
        working-directory: docs
        run: mise run generate-manifests-docs
      - name: Free space
        # Our build process takes a lot of disk space, hitting limits on GitHub Actions runners.
        # This step ensures that we have enough space to build the documentation.
        # Reference: https://github.com/actions/runner-images/issues/2840?ref=dzombak.com#issuecomment-790492173
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Build the documentation
        # VitePress is not memory-efficient, loading all the pages into memory when building
        # the site. This can potentially lead to out-of-memory errors in localized documentation
        # sites where the number of pages is multiplied by the number of languages.
        env:
          NODE_OPTIONS: --max-old-space-size=12288
        working-directory: docs
        run: mise run build
      - name: Deploy to Cloudflare Pages
        if: github.ref == 'refs/heads/main'
        working-directory: docs
        env:
          MISE_SOPS_AGE_KEY: ${{ secrets.MISE_SOPS_AGE_KEY }}
        run: |
          wrangler pages deploy --commit-hash ${{ github.sha }} --branch ${{ github.ref_name }} --project-name tuist-docs .vitepress/dist
      - name: Save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: .build
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
