name: Meta Tuist

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - Tuist/Dependencies/Lockfiles/Package.resolved
      - Package.resolved
      - Gemfile*
      - Package.swift
      - Sources/**
      - Tests/**
      - projects/tuist/features/**
      - Project.swift
      - .github/workflows/meta-tuist.yml

concurrency:
  group: meta-tuist-${{ github.head_ref }}
  cancel-in-progress: true

env:
  RUBY_VERSION: '3.0.1'
  TUIST_CONFIG_STATS_OPT_OUT: true

jobs:
  build:
    name: Build with Xcode ${{ matrix.xcode }}
    runs-on: macOS-11
    strategy:
      matrix:
        xcode: ['12.5.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Build
        run: |
          ./fourier build tuist all
  test:
    name: Test with Xcode ${{ matrix.xcode }}
    runs-on: macOS-11
    strategy:
      matrix:
        xcode: ['12.5.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Test
        run: |
          ./fourier test tuist unit
