name: Release dry-run

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - Tuist/Dependencies/Lockfiles/Package.resolved
      - Package.resolved
      - Gemfile*
      - Package.swift
      - Sources/**
      - Project.swift
      - projects/fourier/**
      - .github/workflows/release-dry-run.yml

env:
  RUBY_VERSION: '3.0.3'
  TUIST_STATS_OPT_OUT: true

jobs:
  bundle-all:
    name: Bundle tuist and tuistenv with Xcode
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-${{ env.RUBY_VERSION }}-gems-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.RUBY_VERSION }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Build
        run: |
          ./fourier bundle all --xcode_version=$(cat .xcode-version) --xcode_version_libraries=$(cat .xcode-version-libraries)
