name: Server Staging Deployment

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: Sha of the commit to be deployed
        required: true

concurrency:
  group: staging-deployment-${{ github.head_ref }}
  cancel-in-progress: true

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PNPM_HOME: ~/.pnpm
  MISE_SOPS_AGE_KEY: ${{ secrets.MISE_SOPS_AGE_KEY }}

defaults:
  run:
    working-directory: server

jobs:
  deploy:
    environment: server-staging
    name: Staging Deployment
    env:
      DOCKER_BUILDKIT: 1
    runs-on: namespace-profile-default
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v4
      - name: Restore Mix Cache
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: |
            deps
            _build
            _site
          key: mix-${{ hashFiles('mix.lock') }}
      - name: Restore PNPM Cache
        uses: actions/cache@v3
        id: pnpm-cache
        with:
          path: |
            ~/.pnpm/store
          key: pnpm-server-${{ hashFiles('server/pnpm-lock.yaml') }}
      - uses: jdx/mise-action@v2
      - run: mise run install
      - name: "Get version"
        id: version
        run: |
          version=$(../mise/tasks/server/generate-version.sh)
          echo "::set-output name=version::$version"
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Fly
        run: flyctl deploy --remote-only -c fly.staging.toml --build-arg TUIST_HOSTED=1 --build-arg MIX_ENV=stag --build-arg TUIST_VERSION=${{ steps.version.outputs.version }} --wait-timeout 3600
      - name: Notify about the deployment in Slack
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            commit: "${{ github.sha }}"
            environment: "staging"
