name: Tuist

on:
  push:
    paths:
      - Sources/**/*
      - Tests/**/*
      - Gemfile*
      - Rakefile
      - Package.swift
      - Package.resolved
      - script/**/*
      - fixtures/**/*
      - features/**/*
      - .github/workflows/tuist.yml
  pull_request:
    paths:
      - Sources/**/*
      - Tests/**/*
      - Gemfile*
      - Rakefile
      - Package.swift
      - Package.resolved
      - script/**/*
      - fixtures/**/*
      - features/**/*
      - .github/workflows/tuist.yml

jobs:
  unit_tests:
    name: Unit tests
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.1
        run: sudo xcode-select -switch /Applications/Xcode_11.2.1.app
      - name: Generate Xcode project
        run: swift package generate-xcodeproj
      - name: Run tests
        run: xcodebuild test -scheme tuist-Package -enableCodeCoverage YES
      - name: Send test coverage report
        run: bash <(curl -s https://codecov.io/bash)
  release_build:
    name: Release build
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.1
        run: sudo xcode-select -switch /Applications/Xcode_11.2.1.app
      - name: Build Tuist for release
        run: swift build -c release --product tuist
      - name: Build Tuistenv for release
        run: swift build -c release --product tuistenv
  install:
    name: Install
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.1
        run: sudo xcode-select -switch /Applications/Xcode_11.2.1.app
      - name: Install Tuist
        run: ./script/install
      - name: Run 'tuist --help'
        run: tuist --help
      - name: Uninstall Tuist
        run: ./script/uninstall
  acceptance_tests:
    name: Features
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.1
        run: sudo xcode-select -switch /Applications/Xcode_11.2.1.app
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake features
  upload:
    name: Upload
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.1
        run: sudo xcode-select -switch /Applications/Xcode_11.2.1.app
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler dependencies
        run: bundle install
      - name: Package build and upload it to GCS
        run: |
          bundle exec rake package_commit
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
