name: Tuist

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit_tests:
    name: Unit tests
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['11.5', '12.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/cache@v2
        name: 'Cache SPM dependencies'
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: Run tests
        run: |
          rm -rf .coverage
          mkdir -p .coverage
          swift test --enable-code-coverage
  release_build:
    name: Release build
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['11.5', '12.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/cache@v2
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: Build Tuist for release
        run: swift build -c release --product tuist
      - name: Build Tuistenv for release
        run: swift build -c release --product tuistenv
  acceptance_tests:
    name: Acceptance tests (${{ matrix.feature }})
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['11.5', '12.1']
        feature:
          [
            'generate-1',
            'generate-2',
            'generate-3',
            'generate-4',
            'generate-5',
            'generate-6',
            'init',
            'lint-project',
            'lint-code',
            'scaffold',
            'up',
            'build',
            'test',
            'env',
          ]
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/cache@v2
        name: 'Cache SPM dependencies'
        with:
          path: .build
          key: ${{ runner.os }}-${{ matrix.xcode }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler 2.1.4
        run: gem install bundler --version 2.1.4
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Run tests
        run: FEATURE=features/${{ matrix.feature }}.feature bundle exec rake features
  xcode_12_acceptance_tests:
    name: Xcode 12 Acceptance tests (${{ matrix.feature }})
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['12.1']
        feature:
          [
            'generate-6',
            'cache-xcframeworks',
            'cache-frameworks',
            'precompiled',
          ]
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/cache@v2
        name: 'Cache SPM dependencies'
        with:
          path: .build
          key: ${{ runner.os }}-${{ matrix.xcode }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler 2.1.4
        run: gem install bundler --version 2.1.4
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Run tests
        run: FEATURE=features/${{ matrix.feature }}.feature bundle exec rake features
  upload:
    if: github.ref == 'refs/heads/main'
    name: Upload
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['12.1']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler 2.1.4
        run: gem install bundler --version 2.1.4
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Package build and upload it to GCS
        run: |
          bundle exec rake package_commit
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
