name: Tuist

on:
  push:
    branches:    
      - master
    paths:
      - Sources/**/*
      - Tests/**/*
      - fixtures/**/*
      - .github/workflows/tuist.yml
  pull_request:
    paths:
      - Sources/**/*
      - Tests/**/*
      - fixtures/**/*
      - .github/workflows/tuist.yml

jobs:
  unit_tests:
    name: Unit tests
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ["11.3.1", "11.4"]
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: |
          rm -rf .coverage
          mkdir -p .coverage
          swift test --enable-code-coverage
      - name: Convert code coverage to lcov format
        run: xcrun llvm-cov export -format="lcov" .build/debug/tuist -instr-profile .build/debug/codecov/default.profdata > ./.coverage/coverage.lcov
      - name: Send test coverage report
        run: |
          bash <(curl -s https://codecov.io/bash) -D .coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  release_build:
    name: Release build
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ["11.3.1", "11.4"]
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Build Tuist for release
        run: swift build -c release --product tuist
      - name: Build Tuistenv for release
        run: swift build -c release --product tuistenv
  acceptance_tests:
    name: Features
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: [11.3.1", "11.4"]
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.4
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler 2.0.2
        run: gem install bundler --version 2.0.2
      - name: Install Bundler dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake features
  upload:
    if: github.ref == 'refs/heads/master'
    name: Upload
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.4
        run: sudo xcode-select -switch /Applications/Xcode_11.4.app
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Bundler 2.0.2
        run: gem install bundler --version 2.0.2
      - name: Install Bundler dependencies
        run: bundle install
      - name: Package build and upload it to GCS
        run: |
          bundle exec rake package_commit
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
