name: Tuist Benchmark

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Build tuistbench with Xcode ${{ matrix.xcode }}
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: ['11.5', '12.3']
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Build Package
        working-directory: ./tools/tuistbench
        run: swift build
